<header class="bg-warning fixed-top">
<div class="container">
    <div class="text-left page-title float-left">{{title}}</div>

    <div class="menu-icon text-right">
        <!-- <img src="assets/images/menu-icon.png" alt="" class=""> -->
        <div><a (click)="logout()" *ngIf="isLoggedIn" class="text-white">Logout</a></div>
    </div>
</div>
</header>
