<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <img src="assets/images/verification.svg" alt="" class="img-fluid mx-auto d-block clipart">
        </div>
        <div class="col-12 col-lg-5">
            <h5 class="font-weight-bold text-center mt-4">Verification</h5>
            <p class="text-center my-2">Hello! Prathamesh Please enter the
                OTP to verify.</p>
              </div>
            </div>
                <!-- Mobile verification Begin -->
    <div class="card rounded-lg">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-center my-2">Enter 4 Digit number that sent on your
                        +919990003312
                        </p>
                      </div>
                <div class="col-8 px-0">
                    <form (ngSubmit)="setOtp()">          
                        <div class="d-flex veri-code mb-2 font-weight-bold">
                          <div><input type="text" id= "first" name="otpDigit1" class="form-control blank" placeholder="" 
                            [(ngModel)]="otpDigit1" (keyup)="setAutoFocusTo('second',$event,'first')" maxlength="1" #setFocus required></div>
                          <div><input type="text" id= "second" name="otpDigit2" class="form-control blank" placeholder="" [(ngModel)]="otpDigit2"
                            (keyup)="setAutoFocusTo('third',$event,'second')" maxlength="1" required ></div>
                          <div><input type="text" id= "third" class="form-control blank"  name="otpDigit3" placeholder="" [(ngModel)]="otpDigit3"
                            (keyup)="setAutoFocusTo('fourth',$event,'third')" maxlength="1" required ></div>
                          <div><input type="text" id= "fourth"  (keyup)="setAutoFocusTo('fourth',$event,'fourth')" class="form-control blank"  name="otpDigit4" placeholder="" [(ngModel)]="otpDigit4" maxlength="1" required></div>
                        </div>  
                    </form>
                  </div>
                  <div class="col-4 px-0 text-center">
                      <button  type="submit" class="btn btn-warning btn-sm d-block mx-auto justify-content-center">Verify</button> 
                      <small class="text-center d-block"><a href="#">Re-send OTP</a></small>                      
                      <!-- Show this success button after verification -->
                      <!-- <i class="fas fa-check-circle text-success py-3"></i>   -->
                    </div>
                </div>
          </div>
        </div>
        <!-- Mobile verification end -->

        <!-- Email verification Begin -->
    <div class="card rounded-lg mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p class="text-center my-2">Enter 4 Digit number that sent on your
                        pgoad@gmail.com                        
                        </p>
                      </div>
                <div class="col-8 px-0">
                    <form (ngSubmit)="setOtp()">          
                        <div class="d-flex veri-code mb-2 font-weight-bold">
                          <div><input type="text" id= "first" name="otpDigit1" class="form-control blank" placeholder="" 
                            [(ngModel)]="otpDigit1" (keyup)="setAutoFocusTo('second',$event,'first')" maxlength="1" #setFocus required></div>
                          <div><input type="text" id= "second" name="otpDigit2" class="form-control blank" placeholder="" [(ngModel)]="otpDigit2"
                            (keyup)="setAutoFocusTo('third',$event,'second')" maxlength="1" required ></div>
                          <div><input type="text" id= "third" class="form-control blank"  name="otpDigit3" placeholder="" [(ngModel)]="otpDigit3"
                            (keyup)="setAutoFocusTo('fourth',$event,'third')" maxlength="1" required ></div>
                          <div><input type="text" id= "fourth"  (keyup)="setAutoFocusTo('fourth',$event,'fourth')" class="form-control blank"  name="otpDigit4" placeholder="" [(ngModel)]="otpDigit4" maxlength="1" required></div>
                        </div>  
                    </form>
                  </div>
                  <div class="col-4 px-0 text-center">
                      <button  type="submit" class="btn btn-warning btn-sm d-block mx-auto justify-content-center">Verify</button> 
                      <small class="text-center d-block"><a href="#">Re-send OTP</a></small>                      
                      <!-- Show this success button after verification -->
                      <!-- <i class="fas fa-check-circle text-success py-3"></i>   -->
                    </div>
                </div>
          </div>
        </div>
        <!-- Email verification end -->


        <button  type="submit" class="btn btn-warning btn-block rounded-pill mt-3">Continue</button> 

          
    </div>
    </div>
    