<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-7">
      <img src="assets/images/on-boarding.svg" alt="" class="img-fluid mx-auto d-block clipart">
    </div>
    <div class="col-12 col-lg-5">
        <h5 class="font-weight-bold text-center mt-4">Let's get Started</h5>
        <p class="text-center my-3">The journey of your career is just about beginning. The decisions you take now, will impact your future and your life. We encourage you start this journey on a smart note. </p>


            <div id='security_type' *ngIf="tandc">
                <button routerLink="/mobile-registration" type="button" class="btn btn-outline-warning btn-block rounded-pill"  >Create Account</button> 
                
            </div>
            <div *ngIf="!tandc">
                <button  type="button" class="btn btn-outline-warning btn-block rounded-pill"  >Create Account</button> 
            </div>
            
            <button type="button" routerLink="/mobile-login" class="btn btn-outline-warning btn-block rounded-pill mt-2">Login</button> 
            
            <label class="custom-checkbox mt-4">I accept to <a routerLink="/tandc" target="_blank" class="btn-link">Terms & Conditions</a>
                <input type="checkbox" #security_collateral class="custom-control-input" id="switch1" name="example" [(ngModel)]='tandc'>
                <span class="checkmark"></span>
              </label>
        
      </div>
  </div>
 
  <div class="row d-none d-sm-block why-auxilo">
      <div class="col-md-12 text-center">
          <hr>
          <h5 class="heading mt-4 mb-4">Why Choose Auxilo?</h5>
          <div class="row">
              
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/rs-symbol.png" class="rounded mx-auto d-block">
                          <p>100% Financing</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/check-symbol.png" class="rounded mx-auto d-block">
                          <p>Fastest Sanctions</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/book-symbol.png" class="rounded mx-auto d-block">
                          <p>Customized Loans</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/parcent-symbol.png" class="rounded mx-auto d-block">
                          <p>Competitive Interest Rates</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/card-symbol.png" class="rounded mx-auto d-block">
                          <p>Flexible Repayment</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/servec-symbol.png" class="rounded mx-auto d-block">
                          <p>High on Services</p>
                      </div>
                  </div>
          </div>
                  <div class="row mt-4">
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/collage-symbol.png" class="rounded mx-auto d-block">
                          <p>Pre-Admission Loan</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/passport-symbol.png" class="rounded mx-auto d-block">
                          <p>Pre-Visa Disbursement Loan</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/search-symbol.png" class="rounded mx-auto d-block">
                          <p>Fast Track Loan</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/star-symbol.png" class="rounded mx-auto d-block">
                          <p>Score Based Benefit</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/money-symbol.png" class="rounded mx-auto d-block">
                          <p>Certificate of Availability of Funds</p>
                      </div>
                  </div>
                  <div class="col-2">
                      <div class="symbol" style="height: 92px;">
                          <img src="assets/images/why-auxilo/like-symbol.png" class="rounded mx-auto d-block">
                          <p>Transparent Processes</p>
                      </div>
                  </div>
              
          </div>
      </div>
  </div>

</div>
</div>
