<div class="wrapper">
  <div class="container">

    <p class="text-center my-3">Now place your phone directly on  top of your Aadhaar Card so we can connect securely</p>  

    <div class="card rounded-lg mt-3">
        <div class="card-body">  
          <div class="row">
              <div class="col-12">
                  <img src="assets/images/aadhaar-card.png" alt="" class="img-fluid" >
                  <p class="text-center mt-3">Position your photo inside the box</p>              
              </div>  
              
          </div>
        </div>
    </div>   

    <div class="custom-file mt-3">
        <input type="file" class="custom-file-input" id="customFile" name="pan_card">
        <label class="custom-file-label" for="customFile">Scan Now</label>
      </div>

  </div>
  </div>
  