<div class="wrapper">
    <div class="container">
        <!-- Student Details begin -->
      <div class="row">
        <div class="col-12">
            <h6 class="mt-0 font-weight-bold">Student Details</h6>
            <div class="d-flex">
              <p class="mr-4">{{case.studentDetails.first_name}}</p>
              <p class="mr-4">{{case.studentDetails.middle_name}}</p>
              <p class="mr-4">{{case.studentDetails.last_name}}</p>
            </div>
            <div class="d-flex">
                <p class="mr-4">{{case.studentDetails.mobile}}</p>
                <p class="mr-4">{{case.studentDetails.email}}</p>
              </div>
        </div>
      </div>
      <hr>
      <!-- Student Details begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Loan Amount</h6>
              <div class="d-block">
                <p>Loan Amount Required : <i class="fas fa-rupee-sign"></i>{{case.studentDetails.loan_amount}}</p>
              </div>
          </div>
        </div>
        <hr>
      <!-- Past Academics begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Past Academics</h6>
              <div class="d-flex">
                <p class="mr-4">
                  10th
                  <i *ngIf="case.studentDetails.school && case.studentDetails.school.trim().length > 0" class="fas fa-check text-success "></i>
                  <i *ngIf="!case.studentDetails.school || case.studentDetails.school.trim().length == 0" class="fas fa-times text-danger "></i>
                </p>
                <p class="mr-4">
                  12th
                  <i *ngIf="case.studentDetails.high_school && case.studentDetails.high_school.trim().length > 0" class="fas fa-check text-success "></i>
                  <i *ngIf="!case.studentDetails.high_school || case.studentDetails.high_school.trim().length == 0" class="fas fa-times text-danger "></i>
                </p>
                <p class="mr-4">
                  Gaduation 
                  <i *ngIf="case.studentDetails.graduation && case.studentDetails.graduation.trim().length > 0" class="fas fa-check text-success "></i>
                  <i *ngIf="!case.studentDetails.graduation || case.studentDetails.graduation.trim().length == 0" class="fas fa-times text-danger "></i>
                </p>
              </div>
              <ng-container *ngIf="case.studentDetails.entranceExamAndScore">
                <div class="d-flex" *ngFor="let ex of case.studentDetails.entranceExamAndScore" >
                  <p class="mr-4">{{ex.exam}}</p>
                  <p class="mr-4">{{ex.score}}</p>
                </div>
              </ng-container>
          </div>
        </div>
        <hr>
      <!-- Documents begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Documents</h6>
              <div class="d-flex">
                <p class="mr-4">
                  Pancard
                  <i *ngIf="case.studentDetails.panVerified || case.studentDetails.panReceived" class="fas fa-check text-success"></i>
                  <i *ngIf="!case.studentDetails.panVerified || !case.studentDetails.panReceived" class="fas fa-times text-danger"></i>
                </p>
                <p class="mr-4">
                  Aadhaar Card
                  <i *ngIf="case.studentDetails.aadharReceived" class="fas fa-check text-success"></i>
                  <i *ngIf="!case.studentDetails.aadharReceived" class="fas fa-times text-danger"></i>
                </p>
                <p class="mr-4">
                  Voter ID
                  <i *ngIf="case.studentDetails.voterIdReceived" class="fas fa-check text-success"></i>
                  <i *ngIf="!case.studentDetails.voterIdReceived" class="fas fa-times text-danger"></i>
                </p>
              </div>
          </div>
        </div>
        <hr>
      <!-- Co-Applicant Details begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Co-Applicant Details</h6>
              <div class="d-flex">
                <p class="mr-4">{{case.coApplicant.first_name}}</p>
                <p class="mr-4">{{case.coApplicant.middle_name}}</p>
                <p class="mr-4">{{case.coApplicant.last_name}}</p>
                <p class="font-weight-bold">{{case.coApplicant.relationship}}</p>
              </div>
              <div class="d-flex">
                  <p class="mr-4">{{case.coApplicant.mobile}}</p>
                  <p class="mr-4">{{case.coApplicant.email}}</p>
                </div>
          </div>
        </div>
        <hr>
        <!-- Occupation begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Occupation</h6>
              <div class="d-block">
                <p class="">Occupation type : {{case.coApplicant.occupation}}</p>
                <p class="">Net monthly income : <i class="fas fa-rupee-sign"></i>{{case.coApplicant.net_monthly_income}}</p>
              </div>
              <div class="d-flex">
                  <p class="mr-4">
                    Security Collateral
                    <i *ngIf="case.coApplicant.security_collateral" class="fas fa-check text-success"></i>
                    <i *ngIf="!case.coApplicant.security_collateral" class="fas fa-times text-danger"></i>
                  </p>
                  <p class="mr-4" *ngIf="case.coApplicant.security_type && case.coApplicant.security_type.trim().length > 0">
                    Security type : {{case.coApplicant.security_type}}
                  </p>
                </div>
          </div>
        </div>
        <hr>
        <!-- Parent Details begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Parent Details</h6>
              <div class="d-flex" *ngIf="case.parent.father_first_name && case.parent.father_first_name.trim().length > 0">
                <p class="mr-4">FirstName : {{case.parent.father_first_name}}</p>
                <p class="mr-4">MiddleName : {{case.parent.father_middle_name}}</p>
                <p class="mr-4">Father's LastName : {{case.parent.father_last_name}}</p>
                <p class="font-weight-bold">Father</p>
              </div>

              <div class="d-flex" *ngIf="case.parent.mother_first_name && case.parent.mother_first_name.trim().length > 0">
                <p class="mr-4">FirstName : {{case.parent.mother_first_name}}</p>
                <p class="mr-4">MiddleName : {{case.parent.mother_middle_name}}</p>
                <p class="mr-4">LastName : {{case.parent.mother_last_name}}</p>
                <p class="font-weight-bold">Mother</p>
              </div>

              <div class="d-flex" *ngIf="case.coApplicant.relationship && case.coApplicant.relationship.trim().length > 0 && (case.coApplicant.relationship.trim().toLowerCase() == 'father' || case.coApplicant.relationship.trim().toLowerCase() == 'mother')">
                <p class="mr-4">FirstName : {{case.coApplicant.first_name}}</p>
                <p class="mr-4">MiddleName : {{case.coApplicant.middle_name}}</p>
                <p class="mr-4">LastName : {{case.coApplicant.last_name}}</p>
                <p class="font-weight-bold">{{case.coApplicant.relationship}}</p>
              </div>

          </div>
        </div>
        <hr>
        <!-- Documents begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Documents</h6>
              <div class="d-flex">
                  <p class="mr-4">
                      Pancard
                      <i *ngIf="case.coApplicant.panReceived" class="fas fa-check text-success"></i>
                      <i *ngIf="!case.coApplicant.panReceived" class="fas fa-times text-danger"></i>
                    </p>
                    <p class="mr-4">
                      Aadhaar Card
                      <i *ngIf="case.coApplicant.aadharReceived" class="fas fa-check text-success"></i>
                      <i *ngIf="!case.coApplicant.aadharReceived" class="fas fa-check text-danger" ></i>
                    </p>
                    <p class="mr-4">
                      Voter ID
                      <i *ngIf="case.coApplicant.voterIdReceived" class="fas fa-check text-success"></i>
                      <i *ngIf="!case.coApplicant.voterIdReceived" class="fas fa-check text-danger"></i>
                    </p>
              </div>
          </div>
        </div>
        <hr>
        <!-- Course Details begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Course Details</h6>
              <div class="d-block">
                <p class="mr-4">Course Level : {{case.course.course_level}}</p>
                <p class="">Course stream : {{case.course.course_stream}}</p>
              </div>
              <div class="d-flex">
                  <p class="mr-4">Admission Status : {{case.course.admission_status}}</p>
                </div>
          </div>
        </div>
<hr>
        <!-- Educational details begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Educational Details</h6>
              <div class="d-block">
                <p class="">University : {{case.course.university}}</p>
                <p class="">College : {{case.course.college}}</p>
                <p class="">Course : {{case.course.course}}</p>

              </div>
          </div>
        </div>

        <hr>
        <!-- Work Experience begin -->
      <div class="row">
          <div class="col-12">
              <h6 class="mt-0 font-weight-bold">Work Experience</h6>
              <div class="d-block">
                <p class="">Work Experience : {{case.course.work_experience}}</p>
                <p class="">Monthly Income : {{case.course.monthly_income}}</p>

              </div>
          </div>
        </div>

      <button routerLink="/thankyou" type="button" class="btn btn-warning btn-block rounded-pill mt-3">Submit</button> 
    </div>
</div> 