<button type="button" class="back-button btn btn-link" (click)="backClicked()">
  <i class="fas fa-chevron-left"></i>
</button>

<div class="wrapper">
  <div class="container">

      <div class="my-3">
          <div class="row">
            <div class="col-12">
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle d-block mx-auto justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Step 4/5
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Student Details</a>
                  <a class="dropdown-item" href="#">Course Details</a>
                  <a class="dropdown-item" href="#">Parent Details</a>
                  <a class="dropdown-item" href="#">Co-Applicant Details <i class="fas fa-check-circle text-success"></i></a>
                  <a class="dropdown-item" href="#">Document</a>
                </div>
              </div>
            </div>


  </div>
</div>

    <!-- card 1 Begin -->
    <div class="card rounded-lg">
      <div class="card-body">
        <form class="mt-3">
          <div class="row">
            <div class="col-3 pr-1">
              <div class="form-group selectdiv">
                <select class="form-control" name="" id="" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.gender">
                  <option value="Male">Mr.</option>
                  <option value="Female">Ms.</option>
                </select>
              </div>
            </div>
            <div class="col-9 pl-1">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.first_name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>First Name</label>
              </div>
            </div>

            <div class="col-6 pr-1">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.middle_name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Middle Name</label>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.last_name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Last Name</label>
              </div>
            </div>

            <div class="col-12 pr-1">
                <div class="input-group mb-3 date-picker">
                    <input class="form-control" required="" type="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.dateOfBirth">
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                    </div>
                  </div>
            </div>

            <div class="col-12">
                <label>Relationship with Student</label>
              <div class="form-group selectdiv">
                
                <select class="form-control" name="relationship" id="relationship" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.relationship">
                  <option value="Father">Father</option>
                  <option value="Mother">Mother</option>
                  <option value="Spouse">Spouse</option>
                  <option value="Brother">Brother</option>
                  <option value="Sister">Sister</option>
                  <option value="Paternal Relative">Paternal Relative</option>
                  <option value="Maternal Relative">Maternal Relative</option>
                </select>

              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
    <!-- card 1 End -->

    <!-- card 2 Begin -->
    <div class="card rounded-lg mt-3">
      <div class="card-body">
        <form class="mt-3">
          <div class="row">
            <div class="col-8 px-0">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.mobile">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>OTP Sent on your mobile no.</label>
              </div>
              
            </div>
            <div class="col-4 px-0 text-center">
              <button  type="submit" class="btn btn-warning btn-sm d-block mx-auto justify-content-center">Verify</button> 
              <small class="text-center d-block"><a href="#">Re-send OTP</a></small>                      
              <!-- Show this success button after verification -->
              <!-- <i class="fas fa-check-circle text-success py-3"></i>   -->
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-8 px-0">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>OTP Sent on your email id</label>
              </div>
              
            </div>
            <div class="col-4 px-0 text-center">
              <button  type="submit" class="btn btn-warning btn-sm d-block mx-auto justify-content-center">Verify</button> 
              <small class="text-center d-block"><a href="#">Re-send OTP</a></small>                      
              <!-- Show this success button after verification -->
              <!-- <i class="fas fa-check-circle text-success py-3"></i>   -->
            </div>
          </div>
          <!--  <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label for="" class="d-block">Current Address*</label>
                <textarea class="form-control" required name="current_address2" id="current_address" cols="30" rows="4"
                  [(ngModel)]='current_address'></textarea>
              </div>
            </div>


            <div class="col-12">
              <div class="form-group">
                <label for="" class="d-block">Parmanent Address*</label>
                <textarea class="form-control" required name="parmanent_address2" id="" cols="30" rows="4"
                  [(ngModel)]='parmanent_address'></textarea>
              </div>
            </div>
            <div class="col-12">
              <label for=""><small>Same as Current Address</small></label>
              <div class="custom-control custom-switch d-inline-block ml-2 my-0 float-right">
                <input type="checkbox" class="custom-control-input" id="switch1" [(ngModel)]="sameAsCurrentAdd"
                  name="saca" (change)="Printparent1(saca? 'on' : 'off')">
                <label class="custom-control-label" for="switch1"></label>
              </div>
            </div>
          </div> -->




        </form>
      </div>
    </div>
    <!-- card 2 End -->

    <!-- card 3 Begin -->
    <div class="card rounded-lg mt-3">
      <div class="card-body">
        <form class="mt-3">
          <div class="row">
            <div class="col-12">
                <label>Select Occupation</label>
              <div class="form-group selectdiv">
                
                <select class="form-control" name="" id="" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.occupation">
                  <!-- <option value="">Occupation</option> -->
                  <option [ngValue]="occupation" *ngFor="let occupation of occupations">{{occupation}}</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="md-input" *ngIf="coApplicant.occupation != 'HOMEMAKER' && coApplicant.occupation != 'RETIRED'">
                <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.net_monthly_income">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Net Monthly Income</label>
              </div>
            </div>

            <div class="col-12">
              <label for="">Security Collateral</label>
              <div class="custom-control custom-switch d-inline-block ml-2">
                <input type="checkbox" #security_collateral class="custom-control-input" id="switch1" name="example" [ngModel]='coApplicant.security_collateral'>
                <label class="custom-control-label" for="switch1"></label>
              </div>
            </div>

            <div class="col-12" *ngIf="security_collateral.checked">
              <div class="form-group selectdiv">
                <select class="form-control" name="" id="" [ngModelOptions]="{standalone: true}" [(ngModel)]="coApplicant.security_type">
                  <option value="">Security Type</option>
                  <option [ngValue]="secType" *ngFor="let secType of secTypes">{{secType}}</option>
                </select>
              </div>
            </div>

            <div class="col-12">
                <label>Property Type</label>
              <div class="form-group selectdiv">
                
                <select class="form-control" name="" id="">
                  <option value="">Option 1</option>
                  <option value="">Option 2</option>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div class="md-input">
                <input class="md-form-control" required="" type="text">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Property Value</label>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
    <!-- card 3 End -->
    <div class="text-right mt-3">
      <button class="btn btn-link" (click)="open(content)">Attach Document</button>
    </div>
    <!-- card 5 Begin -->
    <div class="card rounded-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div>
              <p class="my-0" *ngIf = "!coApplicant.aadharReceived || !coApplicant.panReceived || !coApplicant.voterIdReceived ">Please, attach the KYC Document to proceed</p>
            </div>
            <div>
              <p *ngIf = "coApplicant.aadharReceived">Co-Applicant AadharCard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
              <p *ngIf = "coApplicant.panReceived">Co-Applicant Pancard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
              <p *ngIf = "coApplicant.voterIdReceived">Co-Applicant VoterID <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Documents begin -->
    <ng-template #content let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Co-Applicant</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <input [disabled]="coApplicant.aadharReceived" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'aadhar')">
                <label class="custom-file-label" for="customFile">Aadhar Card*</label>
              </div>
            </div>
            <div *ngIf="!coApplicant.aadharReceived" class="col-7 pl-1">
              <p class="my-0">{{aadharCardMessage}}</p>

            </div>
            <div *ngIf="coApplicant.aadharReceived" class="col-7 pl-1">
              <small class="text-success">
                <i class="fas fa-check-circle"></i> Received</small>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <input [disabled]="coApplicant.panReceived" type="file" class="custom-file-input" id="customFile" name="pan_card" (change)="handleFileSelect($event,'pancard')">
                <label class="custom-file-label" for="customFile">Pan Card*</label>
              </div>
            </div>
            <div *ngIf="!coApplicant.panReceived" class="col-7 pl-1">
              <p class="my-0">{{panCardMessage}}</p>

            </div>
            <div *ngIf="coApplicant.panReceived" class="col-7 pl-1">
              <small class="text-success">
                <i class="fas fa-check-circle"></i> Received</small>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <input [disabled]="coApplicant.voterIdReceived" type="file" class="custom-file-input" id="customFile" name="voter_id" (change)="handleFileSelect($event,'voterid')">
                <label class="custom-file-label" for="customFile">Voter Id*</label>
              </div>
            </div>
            <div *ngIf="!coApplicant.voterIdReceived" class="col-7 pl-1">
              <p class="my-0">{{voterIdMessage}}</p>

            </div>
            <div *ngIf="coApplicant.voterIdReceived" class="col-7 pl-1">
              <small class="text-success">
                <i class="fas fa-check-circle"></i> Received</small>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-12">
              <h5>Income Proof</h5>
            </div>
            <div class="col-12">
              <div class="custom-file mt-3">
                <button type="button" class="btn btn-warning rounded-pill" (click)="openItr(subcontentitr)">ITR</button>
                <button type="button" class="btn btn-warning rounded-pill ml-3" (click)="openBank(subcontentbank)">Bank Statment</button>
              </div>
            </div>
          </div>

          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>

        </div>
      </div>
    </ng-template>




    <ng-template #subcontentitr let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">ITR</h5>
          <h6 class="text-center">You will be taking to the external link.</h6>
          <hr class="orange-border">
          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <button [disabled]="coApplicant.itrReceived" type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="openIframeITR(contentIframeITR)">Fetch ITR</button>
              </div>
            </div>
            <div *ngIf="!coApplicant.itrReceived" class="col-7 pl-1">
              <p class="my-0">Please click to fetch your ITR</p>
            </div>

            <div *ngIf="coApplicant.itrReceived" class="col-7 pl-1">
              <small class="text-success">
                <i class="fas fa-check-circle"></i> Fetched</small>
            </div>
          </div>

          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>

        </div>
      </div>
    </ng-template>

    <ng-template #subcontentbank let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Bank Statment</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-12">
              <div class="custom-file">
                <button [disabled]="coApplicant.bankStatementReceived" type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
                  (click)="openIframeBank(contentIframeBank,'netbankingFetch')">Fetch Bank Statement Using Net Banking</button>
                <button [disabled]="coApplicant.bankStatementReceived" type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
                  (click)="openIframeBank(contentIframeBank, 'statement')">Upload Bank Statements</button>
              </div>
            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>

        </div>
      </div>
    </ng-template>

    <ng-template #contentIframeITR let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Iframe</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-12">
              <iframe width="100%" height="315" src="https://www.perfios.com/" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>

        </div>
      </div>
    </ng-template>

    <ng-template #contentIframeBank let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Iframe</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-12">
              <iframe width="100%" height="315" src="https://www.perfios.com/" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
          <hr>

          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>

        </div>
      </div>
    </ng-template>
    <!-- Documents end -->

    <button (click)="coApplicantProcess()" type="button" class="btn btn-warning btn-block rounded-pill mt-3">Proceed</button>

  </div>
</div>