<div class="wrapper">
  <div class="container">

    <p class="text-center my-3">To create ID and verify your identity you need to do <br>these 3 steps</p>  

    <div class="card rounded-lg mt-3">
        <div class="card-body">  
          <div class="scan-line"></div>
          <div class="row scan-page" routerLink="/scan-passport">
              <div class="col-4">
                  <img src="assets/images/passport-icon.png" alt="">                  
              </div>  
              <div class="col-8">
                  <h5>Scan Passport</h5>
              </div>  
          </div>
          <div class="row scan-page" routerLink="/scan-pancard">
              <div class="col-4">
                  <img src="assets/images/pancard-icon.png" alt="">                  
              </div>  
              <div class="col-8">
                  <h5>PAN Card</h5>
              </div>  
          </div>
          <div class="row scan-page" routerLink="/scan-aadhaarcard">
              <div class="col-4">
                  <img src="assets/images/aadhaar-icon.png" alt="">                  
              </div>  
              <div class="col-8">
                  <h5>Aadhaar Card</h5>
              </div>  
          </div>
        </div>
    </div>   

  </div>
  </div>
  