<div class="wrapper vcenter">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <img src="assets/images/registration.svg" alt="" class="img-fluid mx-auto d-block clipart">
      </div>
      <div class="col-12 col-lg-5">
        <h5 class="font-weight-bold text-center mt-4">{{title}}</h5>
        <p class="text-center my-3">Enter your mobile number including country code, we will send you<br>
          OTP to verify later</p>
        <form (ngSubmit)="gotoOTP()">
            <div class="input-group mobile-register btn-block rounded-pill">
                <div class="col-2 px-0 text-center">
                  <div class="vertical-center"><img *ngIf="country != ''" src="{{ countryflag }}" alt="{{ country }}"
                      class="img-flag mx-auto"></div>
                </div>
                <input type="text" autofocus name="mobileNumber" [(ngModel)]="mobileNumber" class="form-control blank col-8"
                  placeholder="Student's Mobile Number"  pattern='[6-9]\\d{9}' minlength="10" maxlength="10" (keypress)=_keyPress($event) required>
                <div class="col-2 px-0 text-center">
                  <div class="vertical-center">
                    <a (click)="processMobile()" *ngIf="success == ''"><i
                        class="fa fa-arrow-circle-right text-default"></i></a>
                    <i *ngIf="success != ''" class="fa {{ successicon }} text-{{ success }}"></i>
                  </div>
                </div>
              </div>
              <input *ngIf="success != ''" id="ContinueBtn " type="submit"
              class="btn btn-warning btn-block rounded-pill" value="Continue">
              <!-- <button *ngIf="success != ''" (click)="gotoOTP()" id="ContinueBtn " type="submit"
                class="btn btn-warning btn-block rounded-pill">Continue</button> -->
        </form>
        
      </div>
    </div>
  </div>
</div>