<button type="button" class="back-button btn btn-link" (click)="backClicked()"><i class="fas fa-chevron-left"></i></button>

<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-12">

        <div class="my-3">
            <div class="row">
              <div class="col-12">
                <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle d-block mx-auto justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Step 2/5 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Student Details</a>
                    <a class="dropdown-item" href="#">Course Details <i class="fas fa-check-circle text-success"></i></a>
                    <a class="dropdown-item" href="#">Parent Details</a>
                    <a class="dropdown-item" href="#">Co-Applicant Details</a>
                    <a class="dropdown-item" href="#">Document</a>
                  </div>
                </div>
              </div>

    </div>
  </div>
</div>
</div>
    <div class="row">
        <div class="col-md-8 col-12">
      <!-- card 1 Begin -->
      <div class="card rounded-lg">
        <div class="card-body">
            <form>
                <p class="font-weight-bold">Course Level</p>
                <div class="row">
                  <div class="col-1-5 px-1">
                    <div class="custom_radio">
                     <input type="radio" id="featured-1" name="UG" [(ngModel)]="course.course_level" value="Under Graduate ( Bachelors )">
                      <label for="featured-1"></label>
                    </div>
                        <p class="text-center mb-0">Under Graduate <span class="fnt9">(Bachelors)</span></p>
                  </div>
                  <div class="col-1-5 px-1">
                    <div class="custom_radio">
                     <input type="radio" id="featured-2" name="PG" [(ngModel)]="course.course_level" value="Graduate ( Masters )">
                      <label for="featured-2"></label>
                    </div>
                        <p class="text-center mb-0">Graduate <span class="fnt9">(Masters)</span></p>
                  </div>
                  <div class="col-1-5 px-1">
                    <div class="custom_radio">
                     <input type="radio" id="featured-3" name="diploma" [(ngModel)]="course.course_level" value="Diploma">
                      <label for="featured-3"></label>
                    </div>
                        <p class="text-center mb-0">Diploma</p>
                  </div>
                  <div class="col-1-5 px-1">
                    <div class="custom_radio">
                     <input type="radio" id="featured-4" name="doctoral" [(ngModel)]="course.course_level" value="Doctorate">
                      <label for="featured-4"></label>
                    </div>
                        <p class="text-center mb-0">Doctorate</p>
                  </div>
                  <div class="col-1-5 px-1">
                    <div class="custom_radio">
                       <input type="radio" id="featured-5" name="others" [(ngModel)]="course.course_level" value="Others">
                      <label for="featured-5"></label>
                    </div>
                        <p class="text-center mb-0">Others</p>
                  </div>
                </div>                     
                </form>
      </div>
      </div>
      <!-- card 1 End -->

<!-- card 2 Begin -->
      <div class="card rounded-lg mt-3">
        <div class="card-body">        
          <p class="font-weight-bold">Course Stream</p>
          <div class="form-group selectdiv">
              <select class="form-control" name="" id="" [(ngModel)]="course.course_stream">
                  <option [ngValue]="coursestream" *ngFor="let coursestream of courseStreams">{{coursestream}}</option>
                </select>
          </div>
<!-- 
          <div class="d-flex overflow-auto">
            <button class="btn btn-outline-warning mr-1 " *ngFor="let coursestream of courseStreams" (click)="streamClick(coursestream)" [ngClass]="{'btn-warning': isActive(coursestream)}">{{ coursestream }}</button>
          </div>                    -->
          
      </div>
      </div>
      <!-- card 2 End -->

<!-- card 3 Begin -->
<div class="card rounded-lg mt-3">
  <div class="card-body">        
    <p class="font-weight-bold">Admission Status</p>
   
    <div class="d-flex overflow-auto">
      <button class="btn btn-outline-warning mr-1 " *ngFor="let status of admissionStatus" (click)="admissionStatusClick(status)" [ngClass]="{'btn-warning': isStatusActive(status)}">{{status}}</button>
      
    </div>      
</div>
</div>
<!-- card 3 End -->

<!-- card 4 Begin -->
<div class="card rounded-lg mt-3" *ngIf="course.admission_status ==='Confirmed'">
    <div class="card-body">  
        <div class="row">
            <div class="col-12">
                <div class="form-group selectdiv">
                    <select class="form-control" name="" id="" [(ngModel)]="course.university">
                        <option [ngValue]="universityname" *ngFor="let universityname of universities" (click)="educationInfoHide(universityname)">{{universityname}}</option>
                      </select>
                </div>   
              </div>
          <div class="col-12">
            <div class="md-input">
              <input class="md-form-control" required="" type="text" [(ngModel)]="course.college">
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>College</label>
            </div>  
          </div>
          <div class="col-12">
              <div class="md-input">
                  <input class="md-form-control" required="" type="text" [(ngModel)]="course.course">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Course</label>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- card 4 End -->

  <!-- card 5 Begin -->
<div class="card rounded-lg mt-3" *ngIf="basicDetails && basicDetails.educationCountry ==='usa'">
    <div class="card-body">  
      <div class="row">
          <div class="col-12">
              <label for="">i20</label>
              <div class="custom-control custom-switch d-inline-block ml-2 my-0 float-right">                              
                  <input type="checkbox" class="custom-control-input" id="switch1" name="example" [(ngModel)]="course.i20">
                  <label class="custom-control-label" for="switch1"></label>                              
                </div>
            </div>  
      </div>
      </div>
    </div>
    <!-- card 5 End -->    

     <!-- card 7 Begin -->
<div class="card rounded-lg mt-3">
    <div class="card-body">  
      <div class="row">
          <div class="col-12 d-flex">
              <p class="font-weight-bold" for="">Work Experience</p>
              <div class="custom-control custom-switch d-inline-block ml-2 my-0 float-right">                              
                  <input type="checkbox" class="custom-control-input" id="switch2" name="example" [(ngModel)]="course.work_experience">
                  <label class="custom-control-label" for="switch2"></label>                              
                </div>
            </div>  
            <div class="col-12">
                <div class="md-input mt-3">
                  <input class="md-form-control" required="" type="text" [(ngModel)]="course.monthly_income">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Monthly Income</label>
                </div>  
              </div>
      </div>
      </div>
    </div>
    <!-- card 7 End --> 

    <div class="text-right mt-3">
        <button class="btn btn-link" (click)="open(content)">Attach Document</button>  
  </div>
    <!-- card 5 Begin -->
  <div class="card rounded-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
                <p class="my-0">Please, attach the KYC Document to proceed</p>
          </div>
        </div>
    </div>
    </div>
    <!-- card 5 End -->

    <!-- Documents begin -->
    <ng-template #content let-modal>
        <div class="card documents-card">
              <div class="card-body">
                  <h5 class="my-2 text-center font-weight-bold">Upload your admission documents</h5>
                  <hr class="orange-border">
                <div class="row">
                  <div class="col-5 pr-1">
                      <div class="custom-file">
                          <input [disabled] = "admit" type="file" class="custom-file-input" id="customFile" name="admit" (change) = "handleFileSelect($event,'admit')">
                          <label class="custom-file-label" for="customFile">Admit Letter*</label>
                        </div>
                  </div>
                  <div *ngIf="!admit" class="col-7 pl-1">
                        <p class="my-0">Please upload your Admit Letter</p>
                  </div>
                  <div *ngIf = "admit" class="col-7 pl-1">
                      <small class="text-success"><i class="fas fa-check-circle"></i> Received</small>
              </div>
                </div>
                <hr>
    
                <div class="row">
                    <div class="col-5 pr-1">
                        <div class="custom-file">
                            <input [disabled] = "i20" type="file" class="custom-file-input" id="customFile" name="i20" (change) = "handleFileSelect($event,'i20')">
                            <label class="custom-file-label" for="customFile">i20</label>
                          </div>
                    </div>
                    <div *ngIf="!i20" class="col-7 pl-1">
                          <p class="my-0">Please upload your i20 certificate</p>
                    </div>
                    <div *ngIf = "i20" class="col-7 pl-1">
                        <small class="text-success"><i class="fas fa-check-circle"></i> Received</small>
                </div>
                  </div>
                  <hr>
    
                  <div class="row">
                      <div class="col-5 pr-1">
                          <div class="custom-file">
                              <input [disabled] = "cas" type="file" class="custom-file-input" id="cas" name="voter_id" (change) = "handleFileSelect($event,'cas')">
                              <label class="custom-file-label" for="customFile">cas*</label>
                            </div>
                      </div>
                      <div *ngIf="!cas" class="col-7 pl-1">
                            <p class="my-0">Please upload your cas certificate</p>
                      </div>
                      <div *ngIf = "cas" class="col-7 pl-1">
                          <small class="text-success"><i class="fas fa-check-circle"></i> Received</small>
                  </div>
                    </div>
                    <hr>
    
                      <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>
               
            </div>
      </div>
    </ng-template>
    
    <!-- Documents end -->

        <button (click)='courcePreocess()'  type="button" class="btn btn-warning btn-block rounded-pill mt-3">Proceed</button> 

      </div>
      <div class="col-md-4 d-none d-sm-none d-md-block">
        <div class="card orange-card">
          <div class="card-body">
              <p>Simple documentation requirements are what separate Auxilo from other education loan providers.</p>
    
              <ul>
                  <li>Basic KYC (Aadhar, PAN Card) documents of the student and co-applicant</li>
                      <li>Academic Documents (SSC, HSC, Graduation, etc. whichever applicable) of the student along with a valid PASSPORT (if availing an education loan abroad)</li>
                          <li>Income Documents of the co-applicant/s (pay-slips, bank statements, Form 16/ITR)</li>
                              <li>Property Documents (if applicable)</li>
            </ul>
              
          </div>
        </div>
      </div>
    </div>
    </div>
    </div> <!-- Wrapper Ends -->
    