<div class="wrapper">
    <div class="container">

      <div class="card rounded-lg mt-3">
          <div class="card-body">  
            <div class="row">
                <div class="col-12">
                    <div class="media">
                        <span class="badge mr-3"><img src="assets/images/user-pic.png" class="rounded-circle img-fluid userpic" alt=""></span>
                        <div class="media-body">
                            <button class="btn btn-outline-success rounded-pill btn-sm"><small>Verified</small></button>
                          <h6 class="mt-2 font-weight-bold">Prathamesh Goad</h6>                          
                        </div>
                      </div>
                </div>
              </div>
              <hr>
              
              <div class="row">
                  <div class="col-6">
                    <h6 class="text-secondary font-weight-bold">Nationality</h6>
                    <h6 class="black mt-2 font-weight-bold">India</h6>                            
                  </div>
                 
                <div class="col-6">
                    <h6 class="text-secondary font-weight-bold">Date Of Birth</h6>
                    <h6 class="black mt-2 font-weight-bold">07/11/1996</h6>                            
                  </div>
              </div>

              <div class="row mt-3">
                  <div class="col-6">
                    <h6 class="text-secondary font-weight-bold">&nbsp;</h6>
                    <h6 class="black mt-2 font-weight-bold">Passport</h6>                            
                  </div>
                 
                <div class="col-6">
                    <h6 class="text-secondary font-weight-bold">Date Verified</h6>
                    <h6 class="black mt-2 font-weight-bold">20/04/2019</h6>                            
                  </div>
              </div>
              
              
              <div class="row mt-3">
                <div class="col-6">
                    <button class="btn btn-warning rounded-pill">Accept</button>
                </div>
                <div class="col-6">
                    <button class="btn btn-warning rounded-pill">Re-Scan <img src="assets/images/scan-icon.png" alt=""></button>                          
                 </div>
              </div>    
              
          </div>
      </div>
            

    </div>
    </div>
    