<html><body onload='document.autoform.submit();'>  <form name='autoform' method='post' action='https://demo.perfios.com/KuberaVault/insights/start'><input type='hidden' name='payload' value='{{payload}}'><input type='hidden' name='signature' value='{{signature}}'></form>  </body></html>