<button type="button" class="back-button btn btn-link" (click)="backClicked()">
  <i class="fas fa-chevron-left"></i>
</button>

<div class="wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-12">
      <div class="my-3">
          <div class="row">
            <div class="col-12">
              <div class="dropdown">
                <button class="btn btn-link dropdown-toggle d-block mx-auto justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Step 3/5 
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Student Details</a>
                  <a class="dropdown-item" href="#">Course Details</a>
                  <a class="dropdown-item" href="#">Parent Details <i class="fas fa-check-circle text-success"></i></a>
                  <a class="dropdown-item" href="#">Co-Applicant Details</a>
                  <a class="dropdown-item" href="#">Document</a>
                </div>
              </div>
            </div>
            <div class="col-12">
                <div class="form-group selectdiv">
              <select name="" id="" class="form-control" >
                <option value="" disabled selected >Parental Details</option>
                <option value="">option 1</option>
                <option value="">option 2</option>
              </select>
            </div>
          </div>


        </div>
      </div>
    </div>
    </div>
        <div class="row">
            <div class="col-md-8 col-12">
    <div class="card rounded-lg">
      <div class="card-body">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" *ngIf="!coApplicant.relationship || coApplicant.relationship != 'Father'">
            <a class="nav-link active" id="father-tab" data-toggle="tab" href="#father" role="tab" aria-controls="father" aria-selected="true">Father</a>
          </li>
          <li class="nav-item" *ngIf="!coApplicant.relationship || coApplicant.relationship != 'Mother'">
            <a class="nav-link" id="mother-tab" data-toggle="tab" href="#mother" role="tab" aria-controls="mother" aria-selected="false">Mother</a>
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="father" role="tabpanel" aria-labelledby="father-tab">
            <form class="mt-3">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.father_first_name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>First Name*</label>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.father_middle_name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Middle Name*</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.father_last_name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Last Name*</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.father_mobile">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mobile Number*</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.father_emailId">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email Id*</label>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="" class="d-block">Current Address*</label>
                    <textarea class="form-control" required name="current_address1" id="current_address" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]='parent.father_currentAdd'></textarea>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="" class="d-block">Parmanent Address*</label>
                    <textarea class="form-control" required name="parmanent_address1" id="" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]='parent.father_permenantAdd'></textarea>
                  </div>
                </div>
                <div class="col-12 col-md-12">
                  <label for="">
                    <small>Same as Current Address</small>
                  </label>
                  <div class="custom-control custom-switch d-inline-block ml-2 my-0 float-right">
                    <input type="checkbox" class="custom-control-input" id="switch1" name="saca1" [ngModelOptions]="{standalone: true}" [(ngModel)]='saca1'>
                    <label class="custom-control-label" for="switch1"></label>
                  </div>
                </div>

              </div>

            </form>

            <div class="text-right mt-3">
              <button class="btn btn-link" (click)="open(content)">Attach Document</button>
            </div>
            <!-- card 5 Begin -->
            <div class="card rounded-lg">
              <div class="card-body">
                <div class="row">
                  <div class="col-12">
                    <div>
                      <p class="my-0" *ngIf = "!fatherAadharDisable || !fatherPanDisable || !fatherVoterDisable ||!motherAadharDisable || !motherPanDisable || !motherVoterDisable">Please, attach the KYC Document to proceed</p>
                    </div>
                    <div>
                      <p *ngIf = "fatherAadharDisable">Father AadharCard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
                      <p *ngIf = "fatherPanDisable">Father Pancard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
                      <p *ngIf = "fatherVoterDisable">father VoterID <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
                      <p *ngIf = "motherAadharDisable">Mother AadharCard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
                      <p *ngIf = "motherPanDisable">Mother Pancard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
                      <p *ngIf = "motherVoterDisable">Mother VoterID <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- card 5 End -->
          </div>
          <ng-template #content let-modal>
            <div class="card documents-card">
              <div class="card-body">
                <h5 class="my-2 text-center font-weight-bold">Parent Documents</h5>
                <hr class="orange-border">
                <div class="row">
                  <div class="col-4 pr-1">
                    <div class="custom-file">
                      <input [disabled]="fatherAadharDisable" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'fatherAadhar')">
                      <label class="custom-file-label" for="customFile">Father's Aadhar Card*</label>
                    </div>
                  </div>
                  <div *ngIf="!fatherAadharDisable" class="col-2 pl-1">
                    <p class="my-0">Upload Father's Aadhar</p>

                  </div>
                  <div *ngIf="fatherAadharDisable" class="col-2 pl-1">
                    <small class="text-success">
                      <i class="fas fa-check-circle"></i> Received</small>
                  </div>
                  <div class="col-4 pr-1">
                    <div class="custom-file">
                      <input [disabled]="motherAadharDisable" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'motherAadhar')">
                      <label class="custom-file-label" for="customFile">Mother's Aadhar Card*</label>
                    </div>
                  </div>
                  <div *ngIf="!motherAadharDisable" class="col-2 pl-1">
                    <p class="my-0">Upload Mother's Aadhar</p>

                  </div>
                  <div *ngIf="motherAadharDisable" class="col-2 pl-1">
                    <small class="text-success">
                      <i class="fas fa-check-circle"></i> Received</small>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-4 pr-1">
                    <div class="custom-file">
                      <input [disabled]="fatherPanDisable" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'fatherPan')">
                      <label class="custom-file-label" for="customFile">Father's Pan Card*</label>
                    </div>
                  </div>
                  <div *ngIf="!fatherPanDisable" class="col-2 pl-1">
                    <p class="my-0">Upload Father's Pan</p>

                  </div>
                  <div *ngIf="fatherPanDisable" class="col-2 pl-1">
                    <small class="text-success">
                      <i class="fas fa-check-circle"></i> Received</small>
                  </div>
                  <div class="col-4 pr-1">
                    <div class="custom-file">
                      <input [disabled]="motherPanDisable" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'motherPan')">
                      <label class="custom-file-label" for="customFile">Mother's Pan Card*</label>
                    </div>
                  </div>
                  <div *ngIf="!motherPanDisable" class="col-2 pl-1">
                    <p class="my-0">Upload Mother's Pan</p>

                  </div>
                  <div *ngIf="motherPanDisable" class="col-2 pl-1">
                    <small class="text-success">
                      <i class="fas fa-check-circle"></i> Received</small>
                  </div>
                </div>
                <hr>

                <div class="row">
                  <div class="col-4 pr-1">
                    <div class="custom-file">
                      <input [disabled]="fatherVoterDisable" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'fatherVoter')">
                      <label class="custom-file-label" for="customFile">Father's VoterId*</label>
                    </div>
                  </div>
                  <div *ngIf="!fatherVoterDisable" class="col-2 pl-1">
                    <p class="my-0">Upload Father's VoterId</p>

                  </div>
                  <div *ngIf="fatherVoterDisable" class="col-2 pl-1">
                    <small class="text-success">
                      <i class="fas fa-check-circle"></i> Received</small>
                  </div>
                  <div class="col-4 pr-1">
                    <div class="custom-file">
                      <input [disabled]="motherVoterDisable" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'motherVoter')">
                      <label class="custom-file-label" for="customFile">Mother's VoterId*</label>
                    </div>
                  </div>
                  <div *ngIf="!motherVoterDisable" class="col-2 pl-1">
                    <p class="my-0">Upload Mother's VoterId</p>

                  </div>
                  <div *ngIf="motherVoterDisable" class="col-2 pl-1">
                    <small class="text-success">
                      <i class="fas fa-check-circle"></i> Received</small>
                  </div>
                </div>
                <hr>
              </div>
            </div>
          </ng-template>


          <div class="tab-pane fade" id="mother" role="tabpanel" aria-labelledby="mother-tab">
            <!-- card 1 Begin -->
            <form class="mt-3">
              <div class="row">
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.mother_first_name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>First Name*</label>
                  </div>
                </div>

                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.mother_middle_name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Middle Name*</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.mother_last_name">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Last Name*</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.mother_mobile">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Mobile Number*</label>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class="md-input">
                    <input class="md-form-control" required type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.mother_emailId">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Email Id*</label>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="" class="d-block">Current Address*</label>
                    <textarea class="form-control" required name="current_address2" id="current_address" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]='parent.mother_currentAdd'></textarea>
                  </div>
                </div>

                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label for="" class="d-block">Parmanent Address*</label>
                    <textarea class="form-control" required name="parmanent_address2" id="" cols="30" rows="4" [ngModelOptions]="{standalone: true}"
                      [(ngModel)]='parent.mother_permenantAdd'></textarea>
                  </div>
                </div>
                <div class="col-12 col-md-12">
                  <label for="">
                    <small>Same as Current Address</small>
                  </label>
                  <div class="custom-control custom-switch d-inline-block ml-2 my-0 float-right">
                    <input type="checkbox" class="custom-control-input" id="switch1" [ngModelOptions]="{standalone: true}" [(ngModel)]="parent.father_sameAsCurrentAdd"
                      name="saca1">
                    <label class="custom-control-label" for="switch1"></label>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div>
    </div>

    <div class="card rounded-lg mt-3">
        <div class="card-body">
          <p class="font-weight-bold">Guarantor</p>
          <div class="form-check form-check-inline">
              <label class="custom-checkbox mt-4">Mother
                <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="custom-checkbox mt-4">Father
                  <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                  <span class="checkmark"></span>
                </label>
              </div>
              <div class="form-check form-check-inline">
                  <label class="custom-checkbox mt-4">Other
                    <input type="checkbox" class="custom-control-input" id="switch1" name="example">
                    <span class="checkmark"></span>
                  </label>
                </div>

          </div>
        </div>
    <button (click)="parentProcess()" type="button" class="btn btn-warning btn-block rounded-pill mt-3">Proceed</button>
  </div>
  <div class="col-md-4 d-none d-sm-none d-md-block">
    <div class="card orange-card">
      <div class="card-body">
          <p>Simple documentation requirements are what separate Auxilo from other education loan providers.</p>

          <ul>
              <li>Basic KYC (Aadhar, PAN Card) documents of the student and co-applicant</li>
                  <li>Academic Documents (SSC, HSC, Graduation, etc. whichever applicable) of the student along with a valid PASSPORT (if availing an education loan abroad)</li>
                      <li>Income Documents of the co-applicant/s (pay-slips, bank statements, Form 16/ITR)</li>
                          <li>Property Documents (if applicable)</li>
        </ul>
          
      </div>
    </div>
  </div>
</div>
</div>
</div> <!-- Wrapper Ends -->