<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <img src="assets/images/one-step-away.svg" alt="" class="img-fluid mx-auto d-block clipart">
        </div>
        <div class="col-12 col-lg-5">
            <h5 class="font-weight-bold text-center mt-4">One step away to<br>
                your account</h5>
            <p class="text-center my-3">Now we need to verify your identity</p>          
        </div>
      </div>

      <div class="card rounded-lg mt-3">
          <div class="card-body">  
            <div class="row">
                <div class="col-12">
                    <div class="media">
                        <span class="badge badge-pill badge-success mr-2">1</span>
                        <div class="media-body">
                          <div class="recommended-tag">Recommended</div>
                          <h6 class="mt-0">Fetch data automatically</h6>
                          <p>Upload your documents to proceed. </p>
<!--Desktop upload button-->
<div class="d-none d-none d-md-none d-lg-block float-left mr-2 btn btn-warning mr-2"  (click)="open(content)">
Upload  
</div> 
 <!-- Documents begin -->
 <ng-template #content let-modal>
    <div class="card documents-card">
          <div class="card-body">
              <h5 class="my-2 text-center font-weight-bold">Student</h5>
              <hr class="orange-border">
            <div class="row">
              <div class="col-5 pr-1">
                  <div class="custom-file">
                      <input [disabled] = "studentDetails.aadharReceived" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change) = "handleFileSelect($event,'identity document')" >
                      <label class="custom-file-label" for="customFile">Aadhar Card*</label>
                    </div>
              </div>
              <div *ngIf="!studentDetails.aadharReceived" class="col-7 pl-1">
                    <p class="my-0">{{aadharCardMessage}}</p>
                    
              </div>
              <div *ngIf="studentDetails.aadharReceived" class="col-7 pl-1">
                    <small class="text-success"><i class="fas fa-check-circle"></i> Verified</small>
                </div>

            </div>
            <hr>

            <div class="row">
                <div class="col-5 pr-1">
                    <div class="custom-file">
                        <input [disabled] = "studentDetails.panVerified" type="file" class="custom-file-input" id="customFile" name="pan_card" (change) = "handleFileSelect($event,'pan')">
                        <label class="custom-file-label" for="customFile">Pan Card*</label>
                      </div>
                </div>
                <div *ngIf = "!studentDetails.panVerified" class="col-7 pl-1">
                      <p class="my-0">{{panCardMessage}}</p>
                </div>
                <div *ngIf="studentDetails.panVerified" class="col-7 pl-1">
                        <small class="text-success"><i class="fas fa-check-circle"></i> verified</small>
                </div>
              </div>
              <hr>

              <div class="row">
                  <div class="col-5 pr-1">
                      <div class="custom-file">
                          <input [disabled] = "studentDetails.passportFirstPageReceived" type="file" class="custom-file-input" id="customFile" name="passportFirstPage" (change) = "handleFileSelect($event,'passportFirstPage')">
                          <label class="custom-file-label" for="customFile">Passport First Page*</label>
                        </div>
                  </div>
                  <div *ngIf = "!studentDetails.passportFirstPageReceived " class="col-7 pl-1">
                        <p class="my-0">{{passportFirstPageMessage}}</p>
                  </div>
                  <div *ngIf = "studentDetails.passportFirstPageReceived " class="col-7 pl-1">
                        <small class="text-success"><i class="fas fa-check-circle"></i> verified</small>
                </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-5 pr-1">
                        <div class="custom-file">
                            <input [disabled] = "studentDetails.passportLastPageReceived" type="file" class="custom-file-input" id="customFile" name="passportLastPage" (change) = "handleFileSelect($event,'passportLastPage')">
                            <label class="custom-file-label" for="customFile">Passport Last Page*</label>
                          </div>
                    </div>
                    <div *ngIf = "!studentDetails.passportLastPageReceived" class="col-7 pl-1">
                          <p class="my-0">{{passportLastPageMessage}}</p>
                    </div>
                    <div *ngIf = "studentDetails.passportLastPageReceived " class="col-7 pl-1">
                            <small class="text-success"><i class="fas fa-check-circle"></i> verified</small>
                    </div>
                  </div>
                  <hr>

                <button type="button"  class="btn btn-warning btn-block rounded-pill mt-3 " (click)="proceed();modal.close() ;">Proceed</button>
           
        </div>
  </div>
</ng-template>

<!-- Documents end -->
                          <!--mobile scan button--> <button routerLink="/scan" class="btn btn-warning mr-2 d-none d-block d-md-block d-lg-none float-left">Scan <img src="assets/images/scan-icon.png" alt=""></button>
                          <!-- <button class="btn btn-warning mr-2">Digilocker <img src="assets/images/digilocker-icon.png" alt=""></button> -->
                        </div>
                      </div>
                </div>  
            </div>
          </div>
      </div>

      <div class="card rounded-lg mt-3">
          <div class="card-body">  
            <div class="row">
                <div class="col-12">
                    <div class="media">
                        <span class="badge badge-pill badge-success mr-2">2</span>
                        <div class="media-body">
                          <h6 class="mt-0">Manually enter data</h6>
                          <p>Click on continue and fill in the information manually.</p>  
                          <button routerLink="/student-details" type="button" class="d-none d-none d-md-none d-lg-block float-left mr-2 btn btn-warning mr-2">Continue</button>                         
                        </div>
                      </div>
                </div>  
            </div>
          </div>
      </div>
      
      
      

    </div>
    </div>
    