<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <img src="assets/images/pancard.svg" alt="" class="img-fluid mx-auto d-block clipart">
      </div>
      <div class="col-12 col-lg-5">
          <h5 class="font-weight-bold text-center mt-4">PAN Detail</h5>
          <p class="text-center my-3">Enter your PAN details</p>          
            <form (ngSubmit)="onPanClick()">
                <div class="input-group mobile-register btn-block rounded-pill">
                    <div class="col-2 px-0">&nbsp;</div>
                  <input type="text" maxlength="10" minlength="10" class="form-control blank col-10" placeholder="PAN" name="panNumber" [(ngModel)]="panNumber" required>
                  <div class="col-2 px-0 text-center">
                      <div class="vertical-center"><i class="fas fa-check-circle text-success"></i></div>
                  </div>
                </div>
                  <button  type="submit" class="btn btn-warning btn-block rounded-pill" >Continue</button> 
            </form>
            <p (click)="skipProcess()" class="text-center my-2">I don't have PAN.</p>

             <!-- <button *ngIf="showRegSuccess" [swal]="['Congratulations!', 'you are succussfully registred!', 'success']"></button> -->
        </div>
    </div>
  </div>
  </div>
  