<app-header></app-header>

<ngx-ui-loader 
[fgsColor]="'#f49316'"
[fgsPosition]="'center-center'"
[fgsSize]=60
[fgsType]="'ball-scale-multiple'"

[bgsColor]="'#00ACC1'"
[bgsOpacity]=0.5
[bgsPosition]="'bottom-right'"
[bgsSize]=60
[bgsType]="'ball-spin-clockwise'"
[gap]=24
[overlayColor]="'rgba(40, 40, 40, 0.8)'"

[pbColor]="'#f49316'"
[pbDirection]="'ltr'"
[pbThickness]=3

[hasProgressBar]=true></ngx-ui-loader>
<router-outlet></router-outlet>
