<div class="wrapper">
    <div class="container">
      <!-- New Loan Begin -->
      <div class="card rounded-lg" routerLink="/newloan">
        <div class="card-body pb-0">
        <div class="row">
            <div class="col-7 col-lg-6">
                <h6 class="font-weight-bold text-left mt-0">New Loan Requirement</h6>
                <p class="text-left">Our loans are tailor-made to suit your specific educational requirements. Take the right step towards the road to achieving your dreams. </p>          
                 <button class="btn btn-warning mb-4">Get Started</button> 
              </div>
          <div class="col-5 col-lg-6 px-0 right-icon">
            <img src="assets/images/new-loan-requirement.svg" alt="" class="img-fluid mx-auto d-flex">
          </div>          
        </div>
      </div>
      </div>
      <!-- New Loan End -->

      <!-- Refinance Begin -->
      <div class="card rounded-lg mt-4">
          <div class="card-body pb-0">
          <div class="row">
              <div class="col-7 col-lg-6">
                  <h6 class="font-weight-bold text-left mt-0">Refinance</h6>
                  <p class="text-left">It’s time to save on your existing education loans and reduce your monthly payments. We offer Education Loan refinancing at better rates, tailored options and repayment plans that fit your life.</p>          
                  <button class="btn btn-warning mb-4">Get Started</button>   
                </div>
            <div class="col-5 col-lg-6 px-0 right-icon">
              <img src="assets/images/refinance.svg" alt="" class="img-fluid mx-auto d-flex">
            </div>          
          </div>
        </div>
        </div>
        <!-- Refinance End -->


    </div>
    </div>
    