<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <img src="assets/images/verification.svg" alt="" class="img-fluid mx-auto d-block clipart">
      </div>
      <div class="col-12 col-lg-5">
          <h5 class="font-weight-bold text-center mt-4">Verification</h5>
          <p class="text-center my-2">Enter 4 Digit number that sent on your
            <br>
            {{mediumInfo}}</p>
            <form (ngSubmit)="setOtp()">          
              <div class="d-flex veri-code mb-2 font-weight-bold">
                <div><input type="text" id= "first" name="otpDigit1" class="form-control blank" placeholder="" 
                  [(ngModel)]="otpDigit1" (keyup)="setAutoFocusTo('second',$event,'first')" maxlength="1" #setFocus required></div>
                <div><input type="text" id= "second" name="otpDigit2" class="form-control blank" placeholder="" [(ngModel)]="otpDigit2"
                  (keyup)="setAutoFocusTo('third',$event,'second')" maxlength="1" required ></div>
                <div><input type="text" id= "third" class="form-control blank"  name="otpDigit3" placeholder="" [(ngModel)]="otpDigit3"
                  (keyup)="setAutoFocusTo('fourth',$event,'third')" maxlength="1" required ></div>
                <div><input type="text" id= "fourth"  (keyup)="setAutoFocusTo('fourth',$event,'fourth')" class="form-control blank"  name="otpDigit4" placeholder="" [(ngModel)]="otpDigit4" maxlength="1" required></div>
              </div>  
            <button  type="submit" class="btn btn-warning btn-block rounded-pill">Continue</button> 
            <p class="text-center my-3 font-weight-bold"><a href="#">Re-send code</a></p>
          </form>
        </div>
    </div>
  </div>
  </div>
  