<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <img src="assets/images/one-step-away.svg" alt="" class="img-fluid mx-auto d-block clipart">
        </div>
        <div class="col-12 col-lg-5">
            <h5 class="font-weight-bold text-center mt-4">{{message}}</h5>
            <button type="button"  class="btn btn-warning btn-block rounded-pill mt-3 " (click)="proceed()">{{buttonMessage}}</button>
        </div>
      </div>
    </div>
</div>