<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <img src="assets/images/email.svg" alt="" class="img-fluid mx-auto d-block clipart">
      </div>
      <div class="col-12 col-lg-5">
          <h5 class="font-weight-bold text-center mt-4">Email Registration</h5>
          <p class="text-center my-3">Enter your email address</p>          
            <form >
          <div class="input-group mobile-register btn-block rounded-pill">
              <div class="col-2 px-0">&nbsp;</div>
            <input type="email" autofocus name="email" [(ngModel)]="email" class="form-control blank col-10" required placeholder="Student's Email Id" (keydown.enter)="processEmail()">
          <!--   <div class="col-2 px-0 text-center">
                <a  (click)="processEmail()" *ngIf="success == ''" ><i class="fa fa-arrow-circle-right text-default"></i></a>
                 <div class="vertical-center"><i class="fas fa-check-circle text-success"></i></div>
            </div> -->
            <div class="col-2 px-0 text-center" ngI>
                <div class="vertical-center">
                  <a (click)="processEmail()" *ngIf="success == ''"><i
                      class="fa fa-arrow-circle-right text-default"></i></a>
                  <i *ngIf="success != ''" class="fa {{ successicon }} text-{{ success }}"></i>
                </div>
              </div>
          </div>
            <button *ngIf="success"  (click)="gotoOtp()" type="submit" class="btn btn-warning btn-block rounded-pill">Continue</button> 
          </form>
          </div>
    </div>
  </div> 
  </div>
  