<div class="wrapper vcenter">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-7">
        <img src="assets/images/registration.svg" alt="" class="img-fluid mx-auto d-block clipart">
      </div>
      <div class="col-12 col-lg-5">
        <h5 class="font-weight-bold text-center mt-4">Sign Up</h5>
        <p class="text-center my-3">Enter your details</p>
        <form>
            <div class="form-group">
                <input type="text" class="form-control mobile-register btn-block rounded-pill pl-3" id="mobile" placeholder="Mobile No">
              </div>
              <div class="form-group">
                  <input type="email" class="form-control mobile-register btn-block rounded-pill pl-3" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control mobile-register btn-block rounded-pill pl-3" id="pan" placeholder="Pan Card">
                  </div>

                  <label class="custom-checkbox mt-4">I don't have Pan card
                    <input type="checkbox" class="custom-control-input" id="" name="example">
                    <span class="checkmark"></span>
                  </label>
            
              <input id="" type="submit"
              class="btn btn-warning btn-block rounded-pill" value="Next">
        </form>
        
      </div>
    </div>
  </div>
</div>