<button type="button" class="back-button btn btn-link" (click)="backClicked()"><i class="fas fa-chevron-left"></i></button>

<div class="wrapper">
  <div class="container">
    <!-- card 1 Begin -->
    <div class="card rounded-lg">
      <div class="card-body">
      <form class="mt-3">
        <div class="row">
          <div class="col-3 pr-1">
              <div class="form-group selectdiv">
                  <select class="form-control" name="" id="" value={{gender}}>
                      <option value="">Mr.</option>
                      <option value="">Ms.</option>
                    </select>
              </div>   
          </div>
          <div class="col-9 pl-1">
              <div class="md-input">
                  <input class="md-form-control" required="" type="text"  value={{first_name}}> 
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>First Name</label>
                </div>
          </div>

          <div class="col-6 pr-1">
            <div class="md-input">
              <input class="md-form-control" required="" type="text" value={{middle_name}}>
              <span class="highlight"></span>
              <span class="bar"></span>
              <label>Middle Name</label>
            </div>  
          </div>
          <div class="col-6 pl-1">
              <div class="md-input">
                  <input class="md-form-control" required="" type="text" value={{last_name}}>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Last Name</label>
                </div>
          </div>

          <div class="col-12">
              <div class="md-input">
                  <input class="md-form-control" required="" type="text" value={{relationship}}>
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Relationship</label>
                </div>
          </div>

        </div>
                   
        </form>
    </div>
    </div>
    <!-- card 1 End -->

    <!-- card 2 Begin -->
    <div class="card rounded-lg mt-3">
        <div class="card-body">
        <form class="mt-3">
            <div class="row">
                <div class="col-12">
          <div class="md-input">
            <input class="md-form-control" required="" type="text"  value={{mobile}}>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Mobile</label>
          </div>
          </div>
      </div>  
      
      <div class="row">
                <div class="col-12">
                    <div class="md-input">
                        <input class="md-form-control" required="" type="text" value={{email}}>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email</label>
                      </div> 
          </div>
      </div> 
          </form>
      </div>
      </div>
      <!-- card 2 End -->  
     
    <!-- card 3 Begin -->
    <div class="card rounded-lg mt-3">
        <div class="card-body">
        <form class="mt-3">
          <div class="row">
              <div class="col-12">
                  <div class="form-group selectdiv">
                      <select class="form-control" name="" id="" value={{occupation}}>
                          <option value="">Occupation</option>
                        </select>
                  </div>   
                </div>
                <div class="col-12">
                    <div class="md-input">
                      <input class="md-form-control" required="" type="text" value={{net_monthly_income}}>
                      <span class="highlight"></span>
                      <span class="bar"></span>
                      <label>Net Monthly Income</label>
                    </div>  
                  </div>
          </div>
                     
          </form>
      </div>
      </div>
      <!-- card 3 End -->

      <button routerLink="/parent"  (click)="coApplicantProcess()" type="button" class="btn btn-warning btn-block rounded-pill mt-3">Proceed</button> 

  </div>
  </div>
  