<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-7">
          <img src="assets/images/thank-you.svg" alt="" class="img-fluid mx-auto d-block clipart">
        </div>
        <div class="col-12 col-lg-5">
            <h5 class="font-weight-bold text-center mt-4">Thank You</h5>
            <p class="text-center my-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>          
              
          </div>
      </div>
    </div>
    </div>
    