<button type="button" class="back-button btn btn-link" (click)="backClicked()"><i class="fas fa-chevron-left"></i></button>

<div class="wrapper">
    <div class="container">
      <!-- card 1 Begin -->
      <div class="card rounded-lg">
        <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h6>What do you want to pursue?</h6>
                    </div>
                </div>    
        <div class="row mt-2">
            <div class="col-6" *ngFor="let education of educationType">
                    <div class="btn btn-outline-warning btn-block py-3" (click)="change_button_class(education)" [ngClass]="{'btn-warning': isActive(education)}">{{education}}</div>
            </div>         
        </div>
      </div>
      </div>
      <!-- card 1 End -->

      <!-- card 2 Begin -->
      <div class="card rounded-lg mt-3" [hidden]='hiddenCounrtyDiv'>
          <div class="card-body">

            <div class="row">
                    <div class="col-12"> <h6 class="text-left">Select Country of Study</h6></div>
            </div>
          <div class="row mt-2 text-center country-flags">
             
              
            <div class="col-2 px-1" *ngFor="let flag of CountryFlag">
                    <img src="{{flag.source}}" alt="Australia" class="img-fluid mx-auto rounded-circle shadow"  [ngClass]="{'active': isImgActive(flag.name) }" (click)="setCountryName(flag.name)">
                    <div class="country-name">{{flag.name}}</div>
                </div>    
        
          </div>

          <div class="mt-3">

            <div class="md-input" [hidden]='hiddenDiv'>
                    <input class="md-form-control" required="" type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]="basicDetails.educationCountry" [disabled]='disableTextbox'>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label [hidden]='disableTextbox'>Education Country</label>
                </div>  
    
                <div class="form-group selectdiv" [hidden]='hiddenDropDiv'>
                    <select class="form-control" name="" id="" [ngModelOptions]="{standalone: true}" [(ngModel)]="basicDetails.educationCountry">
                        <option value="">Select Education Country</option>
                        <option [ngValue]="country" *ngFor="let country of otherCountries">{{country}}</option>
                    </select>
                </div> 
                <!-- <div class="row" [hidden]='hiddenServiceDiv'>
                        <div class="col-12"> <h6 class="text-left">Select Service Branch</h6></div>
                </div>
                <div class="form-group selectdiv" [hidden]='hiddenServiceDiv'>
                        <select class="form-control" name="" id="" [ngModelOptions]="{standalone: true}" [(ngModel)]="basicDetails.serviceLocation">
                            <option value="">Service Location</option>
                            <option [ngValue]="location" *ngFor="let location of serviceLocation">{{location}}</option>
                        </select>
                    </div>  -->

        </div>
        </div>
        <!-- card 2 End -->

        <button (click)="onNewLoanProceed()" type="button" class="btn btn-warning btn-block rounded-pill mt-3">Proceed</button> 


    </div>
    </div>
    