/* You can add global styles to this file, and also import other style files */
html, body{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1.6em 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #444444;
    background-color: #ffffff;
    /* overflow-x: hidden;  */
    /* overflow-y: auto; */
    font-size: .8rem;
}
a, a:hover{
    color: #f49316;
}
.btn-link:hover {
    color: #f49316;
}
a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
outline: none !important;
box-shadow:none !important;
}
.orange-border{
    border-color: #f49316;
}
h5 {
    font-size: 1.25rem;
}
.h6, h6 {
    font-size: 1rem;
}
p{
    font-size: .9rem;
}
/* .container{
    max-width: 810px;
} */
.rounded-lg {
    border-radius: .5rem!important;
}
/*.wrapper{
    display: flex;
     height: 100%; 
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}*/
.vcenter{
    display: flex;
     height: 100%; 
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}
.wrapper:before{
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 70%;
    height: 50%;
    background-image: url(assets/images/pattern.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
.wrapper:after{
    position: fixed;
    content: '';
    bottom: 0;
    right: 0;
    width: 55%;
    height: 40%;
    background-image: url(assets/images/pattern-bottom.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
}
header{
    padding: .5em;
}
.clipart{
    width: 300px;
}
.btn{
    font-size: 1rem;
    cursor: pointer;
}
.bg-warning{
    background-color:#f49316 !important;
}
.btn-warning, .btn-warning:hover {
    color: #ffffff !important;
    background-color: #f49316;
    border-color: #f49316;
}
.btn-warning.disabled, .btn-warning:disabled {
    color: #ffffff;
    background-color: #facc8f;
    border-color: #facc8f;
}
.btn-outline-warning {
    color: #444444;
    border-color: #f49316;
}
.btn-outline-warning:hover {
    color: #ffffff;
    background-color: #f49316;
    border-color: #f49316;
}
.img-flag{
    width: 27px;
    height: 18px;
}
.veri-code{
    justify-content: center;
}
.veri-code>div{
    margin: 0 .5rem;
    padding: 0;
    border-bottom: 1px #f49316 solid;
}
.mobile-register {
    color: #444444;
    border:1px #f49316 solid;
    background-color: #ffffff;
}
.blank{
    border: 0;
    text-align: center;
}
.menu-icon img{
    max-width: 15px;
}
.card{
    border: 0;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
}
.right-icon img{
    max-width: 200px;
    width: 100%;
}
.vertical-center{
    display: flex;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}
.country-name{
   font-size: .9rem; 
   margin: 1rem 0;
}
select{
    border: 0 !important;
    border-bottom: 1px #f49316 solid !important;
    border-radius: 0 !important;
    font-weight: 600 !important;
    
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.selectdiv {
    position: relative;
}
.selectdiv:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0dd";
    color: #f49316;
    right: 11px;
    top: 8px;
    height: 30px;
    padding: 0;
    position: absolute;
    pointer-events: none;
}
/*material input begin*/
.md-input {
    position: relative;
    margin-bottom: 1rem;
}
    .md-input .md-form-control {
        font-size: .8rem;
        font-weight: 600;
        padding: 10px 7px 3px 5px;
        display: block;
        border: none;
        border-bottom: 1px solid #f49316;
        box-shadow: none;
        width: 100%;
        color: #333333 !important;
    }

    .md-input label {
        color: rgba(0, 0, 0, 0.5);
        font-size: .8rem;
        font-weight: 600;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .md-input .bar:before {
        left: 50%;
    }

    .md-input .bar:after {
        right: 50%;
    }

    .md-input .highlight {
        position: absolute;
        height: 60%;
        width: 100px;
        top: 25%;
        left: 0;
        pointer-events: none;
        opacity: 0.5;
    }
    .md-input .md-form-control:focus ~ label, .md-input .md-form-control:valid ~ label {
    top: -15px;
    font-size: .6rem;
    color: #f49316;
}
.md-input .bar:before, .md-input .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #f49316;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.md-input .md-form-control:focus ~ .bar:before, .md-input .md-form-control:focus ~ .bar:after {
    width: 50%;
}
/*material input end*/

.ng5-slider .ng5-slider-bubble {
    display: none !important;
}
.ng5-slider .ng5-slider-bar {
    height: 15px !important;
    background: #eceff7 !important;
    border-radius: 10px !important;
}
.ng5-slider .ng5-slider-pointer {
    width: 25px !important;
    height: 25px !important;
    top: -5px !important;
    background-color: #f49316 !important;
    border: 2px #ffffff solid;
}
.ng5-slider .ng5-slider-pointer:after{
    display: none;
}
.btn-link{
    color: #f49316;
}
.documents-card{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.custom-file-label::after{
    opacity: 0;
}
.custom-file-label{
    background-color: #f49316;
    color: #ffffff;
    border: 0;
}
.custom-switch{
    margin: 1em 0;
}
.custom-control-label::before{
    border: #f49316 solid 1px;
}
.custom-switch .custom-control-label::after{
    background-color: #f49316;
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #f49316;
    background-color: #f49316;
}
.form-control, .form-control:focus{
    color:#333333;
    font-weight: 600;
}
.custom_radio{
    margin: 0 auto;
    margin-bottom: 15px;
    text-align: center
 }
 .custom_radio input[type="radio"]{
   display: none;
 }
 .custom_radio input[type="radio"] + label{
   position: relative;
   display: inline-block;
   padding: 0;
   margin: 0 auto;
   cursor: pointer;
   line-height: 1em;
   -webkit-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
 }
 .custom_radio input[type="radio"] + label:before,
 .custom_radio input[type="radio"] + label:after{
   content: '';
   position: absolute;
   top: -.5em;
   left: -5px;
   width: 1.2em;
   height: 1.2em;
   text-align: center;
   color: white;
   font-family: Times;
   border-radius: 100%;
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
 }
 .custom_radio input[type="radio"] + label:before {
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
   box-shadow: inset 0 0 0 0.2em #f49316, inset 0 0 0 1em #f49316;
 }
 .custom_radio input[type="radio"] + label:hover:before {
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
   box-shadow: inset 0 0 0 0.3em white, inset 0 0 0 1em #c6c6c6;
 }
 .custom_radio input[type="radio"]:checked + label:before {
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
   box-shadow: inset 0 0 0 0.4em #f49316, inset 0 0 0 1em #ffffff;
 }
 .col-1-5{
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.recommended-tag{
    position: absolute;
    top: -1.5em;
    right: -10px;
}
.recommended-tag {
    height: 16px;
    background: #f49316;
    color:#ffffff;
    font-size: .7em;
    padding: .1rem .2rem;
  }
  .recommended-tag:before {
    content: "";
    position: absolute;
    right: 100%;
    top: 0;
    width: 0;
    height: 0;
    border-right: 8px solid #f49316;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }
.scan-page{
      padding: 1.5em 0;
      position: relative;
  }  
.scan-page img{
    max-width: 50px;
    float: right;
}  
.scan-page h5{
    display: flex;
     height: 100%; 
    flex: 1;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
}
/* .scan-page:before{
    content: "";
    position: absolute;
    top: 0;
    left: 21.5%;
    border-left: 1px #abb0b0 dashed;
    width: 2px;
    height: 100%;
    z-index: 0;
} */
.userpic{
    max-width: 60px;
}
.custom-file-input-button {
    color: transparent;
    text-align: right;
  }
  .custom-file-input-button::-webkit-file-upload-button {
    visibility: hidden;
  }
  .custom-file-input-button::before {
    content: 'Attach Documents';
    color: #f49316;
    display: inline-block;
    padding: 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    float: right;
    font-size: 1rem;
  }
    .custom-file-input-button:active {
    outline: 0;
  }
.form-control{
    padding: 10px 7px 3px 5px;
    height: auto;
    font-size: .8rem;
}  
.page-title{
    font-size: 1rem;
    color: #ffffff;
    padding-left: 2rem;
}
.back-button{
    position: fixed;
    top: 0px;
    left: 5px;
    z-index: 1030;
    color: #fff;
}
.hide{
    display:none;
}
.visible{
    display:block;
}
.nav-tabs {
    border-bottom: 2px solid #f49316;
    background-color: #ffffff;
}
.nav-tabs .nav-link{
    color: #f49316;
    font-weight: bold;
}
.nav-tabs .nav-item{
    padding-bottom: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ffffff;
    background-color: #f49316;
    border-color: #f49316 #f49316 #f49316;
}
/* The custom-checkbox */
.custom-checkbox {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: .8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border: 1px #f49316 solid;
  }
  
  /* On mouse-over, add a grey background color */
  .custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .custom-checkbox input:checked ~ .checkmark {
    background-color: #f49316;
    border: 0;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .custom-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  label{
      color: #979797;
  }
  textarea{
    border: 1px solid #f49316 !important;
  }
  .date-picker input, .date-picker .input-group-text{
    border-bottom: 1px solid #f49316 !important;
    background-color: #ffffff;
    border-radius:0;
    border: 0;
  }
  .loader-box{
    height: 100vh;
    overflow-y: hidden;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
    background-color: rgba(255, 255, 255, .9);
}
.loader-box img{
    width: 100%;
    max-width: 80px;
}
.loanamount{
    padding: 5px;
    font-size: 1.2rem !important;
    font-weight: 400 !important;
    color: #444 !important;
}
.country-flags img{
    border: 2px #fff solid;
    cursor: pointer;
}
.country-flags img.active{
    border: 2px #f49316 solid;
}
.numberlist{
    margin: 0 auto;
    padding-left: 15px;
}
.numberlist>li{
    margin: 8px 0;
}
.why-auxilo p{
    font-size: .7rem;
    margin: 1rem 0;
}
.student-profile-pic, .student-profile-pic img{
    max-width: 80px;
}
.student-profile-pic img{
    border: 1px #f49316 solid;
}
.photo-custom-file{
    position: absolute;
    right:0;
    bottom: 0;
}
.photo-icon{
    position: absolute;
    right:0;
    bottom: 0;
    max-width: 35px !important;
}
.dropdown-menu{
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
    border: 0 !important;
}
.dropdown-item {
    font-size: .9rem;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #f49316;
}
.orange-card{
    background-color: #f49316;
    color: #ffffff;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    padding-left: 20px;
    padding-bottom: 10px;
    position: relative;
}
li:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 8px 8px;
    border-color: transparent transparent #ffffff transparent;
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    content: '';
}
@media (max-width:480px){
    .loader-box img{
        width: 100%;
        max-width: 60px;
    }    
    .page-title{
        font-size: .8rem;
        color: #ffffff;
        padding-left: 2rem;
    }   
.h5, h5 {
    font-size: 1rem;
}    
.h6, h6 {
    font-size: .8rem;
}    
p{
    font-size: .7rem;
}
.btn {
    font-size: .8rem;
}
.form-control{
    font-size: .7rem;
    padding: 10px 7px 3px 5px;
}
.clipart{
    max-width: 180px;
    width: 100%;
}
.right-icon{
    display: flex;
    align-items: flex-end!important;
}
.country-flags img{
    max-width: 30px;
}
.country-name{
    font-size: .5rem;
    margin: .5rem 0; 
 }
 .md-input .md-form-control {
    font-size: .7rem;
}
.loanamount{
    font-size: .8rem !important;
}
.dropdown-item {
    font-size: .7rem;
}
.pl-m{
    padding-left: 15px !important;
}
}

@media (max-width:320px){
.clipart{
    max-width: 150px;
    width: 100%;
}
.country-flags img{
    max-width: 26px;
}
}
