<div class="wrapper">
<div class="container">
  <div class="row">
    <div class="col-12">
<ol class="numberlist">
  <li>I/We declare to have read the Application Form and conrm having received comprehensive information about the educational loans/scheme, fees, charges, cost etc., payable in relation to the educational loans </li>
  <li>I/We am/are aware of all the terms and conditions for receiving the educational loan from Auxilo Finserve Private Limited. I/ We am/are also aware that the fees payable by me/us for availing an educational loan is non-refundable, even in the case of rejection/withdrawal of the loan application.</li>
      <li> I/We declare that I/we choose the online mode to send the duly signed application form along with the KYC documents and other credentials. I hereby declare that I may be contacted either electronically or through phone to understand the details of the application and to correct the discrepancies if any. You expressly waive the Do Not Call Registration on your phone/mobile numbers for contacting you for this purpose. </li>
          <li>I/We have understood the terms and conditions and agree to abide by the same even in case of rejections/withdrawals of Education loan application.</li>
              <li>I/We hereby declare to have provided true, correct and complete information in this loan application form and any other information/documents submitted by us and agree to indemnify Auxilo Finserve Private Limited for any losses or damages that may arise on account of any misstatement, misrepresentation or negligence in providing the information therein.</li>
                  <li>I/we declare no other education loan/ Financial assistance forfurther studies of the applicant has been availed from any other bank or institution, other than as expressly stated otherwise in the Application Form. </li>
                      <li>I/we authorise Auxilo Finserve Private Limited, its associated companies, agents, agencies, partners, education institute, credit reporting agencies and any other entities to share the information contained in this Application Form and authorise them to verify any information in the Application Form including but not limited to enrolment, residence, employment, telephone, mobile verification, CIBIL or credit repayment history checks, documents verification, references check etc </li>
                          <li> I/we understand and acknowledge that Auxilo would not be able to process our loan application until all information as per Auxilo Finserve Private Limited’s credit and underwriting norms is provided by us and till all verifications and check are completed. Further we agree and undertake to fully co-operate with the Company or it’s officers, or it’s agents in complying with the same. </li>
                          <li>I/We understand and acknowledge that Auxilo shall have absolute discretion to reject my/our application and Auxilo shall not be responsible /liable in any matter whatsoever to us for any rejection or any delay in notifying us of such rejection including any costs, losses, damages or any expenses or consequences caused by such rejection of my/our application.</li>
                          <li>I understand that various factors bear an impact on the risk profile of the Customer. The rate of interest shall therefore vary from customer to customer depending upon the profile of the Customer. </li>
                          <li>It is the responsibility of the applicant to register under CGST Act 2017, SGST Act 2017, IGST Act 2017, and UTGST Act 2017 (herein after individually/collectively called as “GST Law” as applicable to him and disclose to Auxilo Finserve Private Ltd (Auxilo) the registration number/s. In case violation of any provisions of taxation laws including GST Laws by the applicant, then applicant undertakes to indemnify Auxilo for any loss or claim or demand or penalty, if any, which may be incurred or suffered by Auxilo. </li>
                          <li>I/We declare that my/our current address would be considered for the purpose of computation of GST if I/we am/are not registered under GST Act. I/We declare that my/our current address registered under GST would be considered for the purpose of computation of GST if I/we am/are registered under GST Act. I/We hereby declare to intimate Auxilo Finserve Private Limited immediately upon any change in my/our address contact details for communication. I/We give my/our consent to receive any promotional material/scheme of Auxilo Finserve Private Ltd and its associates, partner and affiliates. </li>
                          <li>At the time of registration, you shall be required to share and upload the Personal Data. Personal Data shall also include personal information including but not limited to your name, e-mail address, gender, date of birth, mobile number, photograph, and information that you share with Auxilo. Financial information such as bank documents, bank statements, PAN card, bank account no., data from Credit Information Companies (Sensitive Personal Data), data required for Know Your Customer, e-KYC data, requirement and other relevant details. You agree that the Personal Data shall always be accurate, correct and complete. Once you verify and upload the Personal Data and/or other documents and details, Auxilo shall rely on the same and may process applications with or without additional due diligence/authentication. Upon successful completion of the document verification by Auxilo, the Loan may be sanctioned to you, based on the eligibility criteria and other conditions setforth by Auxilo for sanctioning of the Loan. You understand that, Auxilo shall disburse the Loan subject to fulfilment of the terms and conditions and other requirements and execution of necessary documentation.</li>
</ol>
<p>
Disclaimer Note:<br>
The Company’s norms, does not permit acceptance of cash for any of the loan transactions. The company prefers all the loan related payments to be made from the applicant or co-applicant’s bank account through any banking means such as Cheque/DD/NEFT/RTGS/IMPs. Customer shall be solely responsible for Cash Transactions, if any, carried out with the Company’s representatives or associates. If the applicant is a minor or resides outside India and the co-applicant is the resident Indian, the address of the co-applicant will be considered as address on record for the purpose of determining place of supply under GST. </p>

</div>
</div>
</div>
</div>