<div class="wrapper">
    <div class="container">

        <div class="my-3">
            <div class="row">
              <div class="col-12">
                <div class="dropdown">
                  <button class="btn btn-link dropdown-toggle d-block mx-auto justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Step 5/5 
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Student Details</a>
                    <a class="dropdown-item" href="#">Course Details</a>
                    <a class="dropdown-item" href="#">Parent Details</a>
                    <a class="dropdown-item" href="#">Co-Applicant Details</a>
                    <a class="dropdown-item" href="#">Document <i class="fas fa-check-circle text-success"></i></a>
                  </div>
                </div>
              </div>
  
  
    </div>
  </div>

      <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student" aria-selected="true">Student</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="co-applicant-tab" data-toggle="tab" href="#co-applicant" role="tab" aria-controls="co-applicant" aria-selected="false">Parent</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="parent-tab" data-toggle="tab" href="#parent" role="tab" aria-controls="parent" aria-selected="false">Guarantor</a>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="student" role="tabpanel" aria-labelledby="student-tab">
                  <!--Card Begin-->
                    <div class="card-body">
                      <div class="row">
                        <div class="col-5 pr-1">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="aadhar_card" >
                                <label class="custom-file-label" for="customFile">Aadhar Card*</label>
                              </div>
                        </div>
                        <div class="col-7 pl-1">
                              <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <hr>
          
                      <div class="row">
                          <div class="col-5 pr-1">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile" name="pan_card">
                                  <label class="custom-file-label" for="customFile">Pan Card*</label>
                                </div>
                          </div>
                          <div class="col-7 pl-1">
                                <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          </div>
                        </div>
                        <hr>
          
                        <div class="row">
                            <div class="col-5 pr-1">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="voter_id">
                                    <label class="custom-file-label" for="customFile">Voter Id*</label>
                                  </div>
                            </div>
                            <div class="col-7 pl-1">
                                  <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                          </div>
                          <hr>
          
                          <div class="row">
                              <div class="col-5 pr-1">
                                  <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile" name="income_proof">
                                      <label class="custom-file-label" for="customFile">Income Proof*</label>
                                    </div>
                              </div>
                              <div class="col-7 pl-1">
                                    <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>
                     
                  </div>
                  <!--Card end-->
                </div>
                <div class="tab-pane fade" id="co-applicant" role="tabpanel" aria-labelledby="co-applicant-tab">
                  <!--Card Begin-->
                  <div class="card-body">
                      <div class="row">
                        <div class="col-5 pr-1">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="aadhar_card" >
                                <label class="custom-file-label" for="customFile">Aadhar Card*</label>
                              </div>
                        </div>
                        <div class="col-7 pl-1">
                              <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <hr>
          
                      <div class="row">
                          <div class="col-5 pr-1">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile" name="pan_card">
                                  <label class="custom-file-label" for="customFile">Pan Card*</label>
                                </div>
                          </div>
                          <div class="col-7 pl-1">
                                <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          </div>
                        </div>
                        <hr>
          
                        <div class="row">
                            <div class="col-5 pr-1">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="voter_id">
                                    <label class="custom-file-label" for="customFile">Voter Id*</label>
                                  </div>
                            </div>
                            <div class="col-7 pl-1">
                                  <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                          </div>
                          <hr>
          
                          <div class="row">
                              <div class="col-5 pr-1">
                                  <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile" name="income_proof">
                                      <label class="custom-file-label" for="customFile">Income Proof*</label>
                                    </div>
                              </div>
                              <div class="col-7 pl-1">
                                    <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>
                     
                  </div>
                  <!--Card end-->
                </div>
                <div class="tab-pane fade" id="parent" role="tabpanel" aria-labelledby="parent-tab">
                  <!--Card Begin-->
                  <div class="card-body">
                      <div class="row">
                        <div class="col-5 pr-1">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="aadhar_card" >
                                <label class="custom-file-label" for="customFile">Aadhar Card*</label>
                              </div>
                        </div>
                        <div class="col-7 pl-1">
                              <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                      </div>
                      <hr>
          
                      <div class="row">
                          <div class="col-5 pr-1">
                              <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="customFile" name="pan_card">
                                  <label class="custom-file-label" for="customFile">Pan Card*</label>
                                </div>
                          </div>
                          <div class="col-7 pl-1">
                                <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                          </div>
                        </div>
                        <hr>
          
                        <div class="row">
                            <div class="col-5 pr-1">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" name="voter_id">
                                    <label class="custom-file-label" for="customFile">Voter Id*</label>
                                  </div>
                            </div>
                            <div class="col-7 pl-1">
                                  <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                          </div>
                          <hr>
          
                          <div class="row">
                              <div class="col-5 pr-1">
                                  <div class="custom-file">
                                      <input type="file" class="custom-file-input" id="customFile" name="income_proof">
                                      <label class="custom-file-label" for="customFile">Income Proof*</label>
                                    </div>
                              </div>
                              <div class="col-7 pl-1">
                                    <p class="my-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                              </div>
                            </div>
                            <hr>
                            <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 " (click)="modal.close('Save click')">Proceed</button>
                     
                  </div>
                  <!--Card end-->
                </div>
              </div>
        </div>
      </div>
    </div>
</div>      