<div class="container">
<button type="button" class="back-button btn btn-link" (click)="backClicked()"><i class="fas fa-chevron-left"></i></button>
</div>
<!-- <div class="loader-box"><img src="assets/images/loader.gif"></div> -->

<div class="wrapper">
  <div class="container">
<div class="row">
<div class="col-md-8 col-12">

            <div class="my-3">
              <div class="row">
                <div class="col-12">
                  <div class="dropdown">
                    <button class="btn btn-link dropdown-toggle d-block mx-auto justify-content-center" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Step 1/5
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Student Details <i class="fas fa-check-circle text-success"></i></a>
                      <a class="dropdown-item" href="#">Course Details</a>
                      <a class="dropdown-item" href="#">Parent Details</a>
                      <a class="dropdown-item" href="#">Co-Applicant Details</a>
                      <a class="dropdown-item" href="#">Document</a>
                    </div>
                  </div>
                </div>               

                <div class="col-12">
      <div class="position-relative student-profile-pic mx-auto">
          <img src="assets/images/student-profile-pic.jpg" alt="Student" class="rounded-circle">
          
          <div class="custom-file photo-custom-file">
              <input type="file" class="custom-file-input" id="customFile" name="">
              <img src="assets/images/photo-icon.png" alt="" class="rounded-circle photo-icon">
            </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
    <div class="row">
        <div class="col-md-8 col-12">
    <!-- card 1 Begin -->
    <div class="card rounded-lg">
      <div class="card-body">
          <div class="row">
            <div class="col-3 col-md-1 pr-1">
              <div class="form-group selectdiv">
                <select class="form-control" name="gender" id="" [(ngModel)]="studentDetails.gender">
                  <option value="Male">Mr.</option>
                  <option value="Female">Ms.</option>
                </select>
              </div>
            </div>
            <div class="col-9 col-md-4 pl-1">
              <div class="md-input">
                <input class="md-form-control" required="" name="first_name" type="text" [(ngModel)]="studentDetails.first_name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>First Name</label>
              </div>
            </div>

            <div class="col-6 col-md-4 pl-1 pl-m">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [(ngModel)]="studentDetails.middle_name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Middle Name</label>
              </div>
            </div>
            <div class="col-6 col-md-3 pl-1">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [(ngModel)]="studentDetails.last_name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Last Name</label>
              </div>
            </div>
          </div>

        
      </div>
    </div>
    <!-- card 1 End -->

    <!-- card 2 Begin -->
    <div class="card rounded-lg mt-3">
      <div class="card-body">
        
         <!--  <div class="row">
            <div class="col-9 pr-1">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [(ngModel)]="studentDetails.mobile">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Mobile</label>
              </div>
            </div>
            <div class="col-3 pl-1" *ngIf="studentDetails.mobile">
              <small class="text-success"><i class="fas fa-check-circle"></i> Verified</small>
            </div>
          </div>

          <div class="row">
            <div class="col-9 pr-1">
              <div class="md-input">
                <input class="md-form-control" required="" type="text" [(ngModel)]="studentDetails.email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
              </div>
            </div>
            <div class="col-3 pl-1" *ngIf="studentDetails.email">
              <small class="text-warning"><i class="fas fa-exclamation-circle"></i> Verified</small>
            </div>
          </div>
        -->
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="row">
                <div class="col-9 pr-1">
                <div class="md-input">
                  <input class="md-form-control" required="" type="text" (focusout)="onPanFocusOut()" [(ngModel)]="studentDetails.panNumber">
                  <span class="highlight"></span>
                  <span class="bar"></span>
                  <label>Pan</label>
                </div>
              </div>
              <div class="col-3 pl-1" *ngIf="studentDetails.panVerified">
                <small class="text-success"><i class="fas fa-check-circle"></i> Verified</small>
              </div>
            </div>

            </div>
            
            <div class="col-12 col-md-6">
                <div class="row">
                    <div class="col-9 pr-1">
                           

                        <div class="input-group mb-3 date-picker">
                            <input class="form-control" required="" type="date" [(ngModel)]="studentDetails.dateOfBirth" format="yyyy-mm-dd">
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon2"><i class="fas fa-calendar-alt"></i></span>
                            </div>
                          </div>
          
          
                      </div>
                      <!-- <div class="col-3 pl-1">
                          <small class="text-success"><i class="fas fa-check-circle"></i> Verified</small>
                        </div> -->
                </div>
            </div>
            
          </div>

        
      </div>
    </div>
    <!-- card 2 End -->

    <!-- Address begin -->
    <div class="card rounded-lg mt-3">
        <div class="card-body">
    <div class="row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="" class="d-block">Current Address*</label>
            <textarea class="form-control" required name="current_address2" id="current_address" cols="30" rows="4"
              [(ngModel)]='current_address'></textarea>
          </div>
        </div>


        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="" class="d-block">Parmanent Address*</label>
            <textarea class="form-control" required name="parmanent_address2" id="" cols="30" rows="4"
              [(ngModel)]='parmanent_address'></textarea>
          </div>
        </div>
        <div class="col-12">
          <label for=""><small>Same as Current Address</small></label>
          <div class="custom-control custom-switch d-inline-block ml-2 my-0 float-right">
            <input type="checkbox" class="custom-control-input" id="switch1"
              name="saca" (change)="Printparent1(saca? 'on' : 'off')">
            <label class="custom-control-label" for="switch1"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Address end -->


    <!-- card 3 Begin -->
    <div class="card rounded-lg mt-3">
      <div class="card-body">
          <div class="row">
              <div class="col-5 col-md-7">        
          <p>Loan Amount Required</p>
        
        </div>
        <div class="col-7 col-md-5">
            <div class="input-group mobile-register btn-block rounded-sm">
                <!-- <input type="text" value="{{studentDetails.loan_amount}}" [(ngModel)]="studentDetails.loan_amount" class="form-control blank col-10 mx-auto loanamount" minlength="100000" maxlength="10000000" >  -->        
                <input currencyMask [(ngModel)]="studentDetails.loan_amount" [options]="{ prefix: '₹', thousands: ',', decimal: '.' }" class="form-control blank col-10 mx-auto loanamount" minlength="100000" maxlength="10000000"/>
              </div>
        </div>
        <!-- <div class="col-5">
          <img src="assets/images/money.svg" alt="money" class="img-fluid">
        </div>
        <div class="col-12">
            <ng5-slider [(value)]="value" [options]="options"></ng5-slider>
      </div> -->
    </div>  
      </div>
    </div>
    <!-- card 3 End -->

    <!-- card 4 Begin -->
    <div class="card rounded-lg mt-3">
        <div class="card-body">
        <form class="mt-3">
            <p class="font-weight-bold">Past Academics <span class="font-weight-light">(in %)</span></p>
          <div class="row">
            <div class="col-4 pr-1">
              <div class="md-input">
                <input class="md-form-control" required name="school" type="text" [(ngModel)]="studentDetails.school">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>10th</label>
              </div>
            </div>
            <div class="col-4 pr-1">
              <div class="md-input">
                <input class="md-form-control" required="" name="high_school" type="text" [(ngModel)]="studentDetails.high_school">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>12th</label>
              </div>
            </div>
            <div class="col-4">
              <div class="md-input">
                <input class="md-form-control" required="" name="graduation" type="text" [(ngModel)]="studentDetails.graduation">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Graduation</label>
              </div>
            </div>
            <div class="col-12">
              <div *ngFor="let exam of studentDetails.entranceExamAndScore; let i=index" class="row">
                <div class="col-8">
                  <div class="form-group selectdiv">
                    <select class="form-control" name="exam" id="i" [(ngModel)]="exam.exam">
                      <option value="" disabled>Entrance Exam</option>
                      <option [ngValue]="examname" *ngFor="let examname of examsName">{{examname}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="md-input">
                    <input class="md-form-control" required=""  id ="i" name="score" type="text" [(ngModel)]="exam.score">
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Score</label>
                  </div>
                </div>
                <button class="btn btn-link" *ngIf="studentDetails.entranceExamAndScore.length > 1"
                    (click)='removeExamFileds(i)'> <i class="fas fa-plus-trash"></i>Remove</button>
              </div>
              
            </div>
          </div>

          <button class="btn btn-link"
            *ngIf="examsName.length > studentDetails.entranceExamAndScore.length"
            (click)='addExamFileds()'> <i class="fas fa-plus-circle"></i> Add Another</button>
</form>
        </div>
      </div>
    
    <!-- card 4 End -->

    <div class="text-right mt-3">
      <button class="btn btn-link" (click)="open(content)">Attach Document</button>
    </div>
    <!-- card 5 Begin -->
    <div class="card rounded-lg">
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <div>
              <p class="my-0" *ngIf = "!studentDetails.panReceived || !studentDetails.aadharReceived || !studentDetails.voterIdReceived">Please, attach the KYC Document to proceed</p>
            </div>
            <div>
              <p *ngIf = "studentDetails.panReceived">Pancard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
              <p *ngIf = "studentDetails.aadharReceived">AadharCard <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
              <p *ngIf = "studentDetails.voterIdReceived">VoterID <small class="text-success"><i class="fas fa-check-circle"></i> </small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- card 5 End -->

    <!-- Documents begin -->
    <ng-template #content let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Student</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <input [disabled]="studentDetails.aadharReceived" type="file" class="custom-file-input" id="customFile" name="aadhar_card" (change)="handleFileSelect($event,'aadhar')">
                <label class="custom-file-label" for="customFile">Aadhar Card*</label>
              </div>
            </div>
            <div *ngIf="!studentDetails.aadharReceived" class="col-7 pl-1">
                <p class="my-0">{{aadharCardMessage}}</p>
                
          </div>
          <div *ngIf="studentDetails.aadharReceived" class="col-7 pl-1">
                <small class="text-success"><i class="fas fa-check-circle"></i> Received</small>
            </div>

          </div>
          <hr>

          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <input [disabled]="studentDetails.panReceived" type="file" class="custom-file-input" id="customFile" name="pan_card" (change)="handleFileSelect($event,'pan')">
                <label class="custom-file-label" for="customFile">Pan Card*</label>
              </div>
            </div>
            <div *ngIf = "!studentDetails.panReceived" class="col-7 pl-1">
                <p class="my-0">{{panCardMessage}}</p>
          </div>
          <div *ngIf="studentDetails.panReceived" class="col-7 pl-1">
                  <small class="text-success"><i class="fas fa-check-circle"></i> Received</small>
          </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <input [disabled]="studentDetails.voterIdReceived" type="file" class="custom-file-input" id="customFile" name="voter_id" (change)="handleFileSelect($event,'voter')">
                <label class="custom-file-label" for="customFile">Voter Id*</label>
              </div>
            </div>
            <div *ngIf = "!studentDetails.voterIdReceived" class="col-7 pl-1">
                <p class="my-0">{{voterIdMessage}}</p>
          </div>
          <div *ngIf="studentDetails.voterIdReceived" class="col-7 pl-1">
                  <small class="text-success"><i class="fas fa-check-circle"></i> Received</small>
          </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12">
              <h5>Income Proof</h5>
            </div>
            <div class="col-12">
              <div class="custom-file mt-3">
                <button type="button" class="btn btn-warning rounded-pill mr-3"
                  (click)="openItr(subcontentitr)">ITR</button>
                <button type="button" class="btn btn-warning rounded-pill" (click)="openBank(subcontentbank)">Bank
                  Statment</button>
              </div>
            </div>
          </div>

          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
            (click)="modal.close('Save click');">Proceed</button>

        </div>
      </div>
    </ng-template>




    <ng-template #subcontentitr let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">ITR</h5>
          <h6 class="text-center">You will be taking to the external link.</h6>
          <hr class="orange-border">
          <div class="row">
            <div class="col-5 pr-1">
              <div class="custom-file">
                <button type="button" [disabled]='studentDetails.itrReceived' class="btn btn-warning btn-block rounded-pill mt-3 "
                  (click)="openIframeITR(contentIframeITR)">Fetch ITR</button>
              </div>
            </div>
            <div *ngIf="!studentDetails.itrReceived" class="col-7 pl-1">
              <p class="my-0">Please click to fetch your ITR</p>
            </div>
            <div *ngIf="studentDetails.itrReceived" class="col-7 pl-1">
                <small class="text-success"><i class="fas fa-check-circle"></i> Fetched</small>
            </div>
          </div>

          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
            (click)="modal.close('Save click');">Proceed</button>

        </div>
      </div>
    </ng-template>

    <ng-template #subcontentbank let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Bank Statment</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-12">
              <div class="custom-file">
                <button [disabled] = "studentDetails.bankStatementReceived" type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
                  (click)="openIframeBank(contentIframeBank,'netbankingFetch')">Fetch Bank Statement Using Net Banking</button>
                  <button [disabled] = "studentDetails.bankStatementReceived" type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
                  (click)="openIframeBank(contentIframeBank, 'statement')">Upload Bank Statements</button>
              </div>
            </div>
          </div>

          <hr>
          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
            (click)="modal.close('Save click');">Proceed</button>

        </div>
      </div>
    </ng-template>

    <ng-template #contentIframeITR let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Iframe</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-12">
              <iframe width="100%" height="315" [attr.src]="perfiosUrl" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
          <hr>

          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
            (click)="modal.close('Save click');">Proceed</button>

        </div>
      </div>
    </ng-template>

    <ng-template #contentIframeBank let-modal>
      <div class="card documents-card">
        <div class="card-body">
          <h5 class="my-2 text-center font-weight-bold">Iframe</h5>
          <hr class="orange-border">
          <div class="row">
            <div class="col-12">
              <iframe width="100%" height="315" [attr.src]="perfiosUrl" frameborder="0" allowfullscreen></iframe>

            </div>
          </div>
          <hr>

          <button type="button" class="btn btn-warning btn-block rounded-pill mt-3 "
            (click)="modal.close('Save click');">Proceed</button>

        </div>
      </div>
    </ng-template>


    <!-- Documents end -->

    <button (click)='studentProcess()' type="button" [disabled]="!studentDetails.panVerified"
      class="btn btn-warning btn-block rounded-pill mt-3">Proceed</button>

  </div>
  <div class="col-md-4 d-none d-sm-none d-md-block">
    <div class="card orange-card">
      <div class="card-body">
          <p>Simple documentation requirements are what separate Auxilo from other education loan providers.</p>

          <ul>
              <li>Basic KYC (Aadhar, PAN Card) documents of the student and co-applicant</li>
                  <li>Academic Documents (SSC, HSC, Graduation, etc. whichever applicable) of the student along with a valid PASSPORT (if availing an education loan abroad)</li>
                      <li>Income Documents of the co-applicant/s (pay-slips, bank statements, Form 16/ITR)</li>
                          <li>Property Documents (if applicable)</li>
        </ul>
          
      </div>
    </div>
  </div>
</div>
</div>
</div> <!-- Wrapper Ends -->

